{block:comment pagenum="10" firstnum="10"}
{if:!empty($data[list])}
<div class="comment_list" id="ctf">
	<p class="posttop" style="border-bottom: 1px solid #eaeaea;"><a name="comment" href="javascript:;"> 评论列表:</a></p>
	{loop:$data[list] $v}
	<ul class="msg" id="comment_{$v[commentid]}">
		<li class="msgname">
			<img class="avatar" src="{$v[avatar]}" width="32">&nbsp;
			<span class="commentname">{$v[author]}</span><br><small>&nbsp;发布于&nbsp;{$v[date]}</small><small><a class="reply_comment" href="javascript:;" onclick="reply_comment({$v[commentid]});">回复该评论</a></small>
		</li>
		{if:$v[reply_comment_content]}<li class="reply_msgarticle">回复：{$v[reply_comment_content]}</li>{/if}
		<li class="msgarticle">{$v[content]}</li>
	</ul>
	{/loop}
	<a id="load_more" href="javascript:;" next_url="{$data[next_url]}" isnext="{$data[isnext]}">显示更多评论</a>
</div>
{/if}
{/block}
