<!-- footer section -->
<footer>
	<div style="position: relative;">
		<p>
			<span><a href="{$cfg[weburl]}about/" target="_blank">关于我们</a></span>|
			<span><a href="{$cfg[weburl]}addsoft/" target="_blank">入库申请</a></span>|
			<span><a href="{$cfg[weburl]}jiazhang/" target="_blank">家长监护</a></span>|
			<span><a href="{$cfg[weburl]}contact/" target="_blank">联系我们</a></span>|
			<span><a href="{$cfg[weburl]}copyright/" target="_blank">版权声明</a></span>|
			<span><a href="{$cfg[weburl]}map/" target="_blank">网站地图</a></span>|
			<span><a href="{$cfg[weburl]}sitemap/" target="_blank">站点地图</a></span>
		</p>
		<p>本站所有软件来自互联网，版权归原著所有。如有侵权，敬请来信告知（{$cfg[webmail]}），我们将及时撤销。</p>
		<p>Copyright ©<script>document.write('' + (new Date()).getFullYear())</script> <a href="{$cfg[weburl]}" title="{$cfg[webname]}">{$cfg[webname]}</a> All Rights Reserved 版权所有 <a href="https://beian.miit.gov.cn/" target="_blank">{$cfg[beian]}</a></p>
		<img src="{$cfg[tpl]}style/img/wenww.png" style="width: 60px;height: 60px;position: absolute;right:20px;top: 24px;" class="wenww">
	</div>
</footer>

{$cfg[tongji]}
