{inc:header.htm}

<div class="crumb">
    <div><i class="ico"></i>所在位置：
        <a href="{$cfg[weburl]}" target="_blank">首页</a> &gt;
        热门标签
    </div>
</div>

<div class="wraper">
    <div class="tag_top_page">
        <h2><em>热门标签</em></h2>
        <ul class="tag_top_list">
            {block:global_tag mid="0" pagenum="100"}
            {loop:$gdata[list] $v}
            <li class="tag_id_{$v[tagid]}">
                <span class="tag_rank">{$v[xuhao]}</span>
                <a href="{$v[url]}" title="{$v[name]}">{$v[name]}</a>
                <span class="tag_count">({$v[count]})</span>
            </li>
            {/loop}
            {/block}
        </ul>
    </div>
</div>

{inc:footer.htm}
