<footer class="windows-homepage-module__n3qHYq__footer">
    <div class="windows-homepage-module__n3qHYq__footerCopy">
        <span>Copyright © 2026 {$cfg[webname]}. Design by HongYu. All rights reserved.</span>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank">{$cfg[beian]}</a>
    </div>
    <div class="windows-homepage-module__n3qHYq__footerMeta">
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}downloadguide/">下载帮助</a>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}installguide/">安装指南</a>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}membership/">会员说明</a>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}privacypolicy/">隐私政策</a>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}disclaimer/">免责声明</a>
        <a class="windows-homepage-module__n3qHYq__footerLink" href="{$cfg[weburl]}contact/">联系我们</a>
    </div>
</footer>
</div>
<script type="text/javascript" src="{$cfg[tpl]}script/index.js"></script>
</body>
</html>
