<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$keywords}">
    <meta name="description" content="{$description}">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css">
    <script src="https://static.qiming.cn/style/qiming/js/jquery.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/uikit.min.js"></script>
    <script src="https://static.qiming.cn/style/layer/layer.js" charset="utf-8"></script>
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
</head>
<body>
    <div class="yzm-container">
        <div class="yzm-header-box">
            <div class="yzm-header-top">
                <div class="yzm-logo">
                    <a href="{U('qiming/index/init')}"><img src="https://static.qiming.cn/style/qiming/images/logo_foot.png" alt="起名网"></a>
                </div>
            </div>
        </div>
        <div class="yzm-palace-grid">
            <a href="{U('qiming/index/baobao')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xbbqm.jpg" alt="宝宝起名">
                <span>宝宝起名</span>
            </a>
            <a href="{U('qiming/index/bazi')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xbzqm.jpg" alt="八字起名">
                <span>八字起名</span>
            </a>
            <a href="{U('qiming/index/shici')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xscqm.jpg" alt="诗词起名">
                <span>诗词起名</span>
            </a>
            <a href="{U('qiming/index/ceshi')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xxmcs.jpg" alt="姓名测试">
                <span>姓名测试</span>
            </a>
            <a href="{U('qiming/index/gongsi')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xgsqm.jpg" alt="公司起名">
                <span>公司起名</span>
            </a>
            <a href="{U('qiming/index/kxzd')}" class="yzm-palace-grid-icon">
                <img src="https://static.qiming.cn/style/qiming/images/xkxzd.jpg" alt="康熙字典">
                <span>康熙字典</span>
            </a>
        </div>
        <div class="yzm-news-list">
            <h3 class="yzm-title">快捷服务</h3>
            <ul>
                <li><a href="{U('qiming/index/gaimingzi')}">成人改名</a></li>
                <li><a href="{U('qiming/index/zhouyi')}">周易起名</a></li>
                <li><a href="{U('qiming/index/baijiaxing')}">百家姓</a></li>
                <li><a href="{U('qiming/index/zhishi')}">起名知识</a></li>
            </ul>
        </div>
        <div class="yzm-footer">
            <p>&copy; 2005-2025 <a href="https://www.qiming.cn/">起名网</a></p>
            <p><a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备2024064902号</a></p>
        </div>
    </div>
</body>
</html>