		<div class="footer">
			<div class="cs-sitemap-footer-nav">
				<ul class="cs-sitemap-menu cs-clear">
					<li><a href="{$cfg[weburl]}map/">网站地图</a></li>
					<li><a href="{$cfg[weburl]}sitemap/">站点地图</a></li>
				</ul>
			</div>
			<p>Copyright ©  {$cfg[webname]}({$cfg[weburl]}).All Rights Reserved</p>
			{$cfg[tongji]}
		</div>
		<div class="back-top" id="backTop"><i class="icon icon-totop"></i></div>
	</div>
	<script type="text/javascript" src="{$cfg[tpl]}script/base.js"></script>
	<script type="text/javascript" src="{$cfg[tpl]}script/lazyload-min.js"></script>
	<script type="text/javascript" src="{$cfg[tpl]}script/index.js"></script>
</body>
</html>
