{inc:header.htm}
{block:global_page}{/block}
{php}
$gdata = block_global_page(array());
{/php}
<div class="content wrapper">
	<div class="url-here">
		<a href="{$cfg[weburl]}">{$cfg[webname]}</a> &gt;
		{loop:$cfg_var[place] $p}
		{if:$p[url]}
		<a href="{$p[url]}">{$p[name]}</a> &gt;
		{else}
		{$p[name]}
		{/if}
		{/loop}
	</div>

	<div class="fn-clear">
		<div class="content-l fl">
			<div class="news-detail">
				<div class="news-detail-head">
					<h1 class="title">{$cfg_var[name]}</h1>
				</div>
				<div class="news-detail-body">
					{$gdata[content]}
				</div>
			</div>
		</div>
		<div class="content-r fr">
			<!-- 最新资讯 -->
			<div class="conbox">
				<div class="block-title4">
					<h3 class="title">最新资讯</h3>
				</div>
				<div class="news-list3">
					<ul>
						{block:list mid="2" limit="10"}
						{loop:$data[list] $v}
						<li><a class="tit" href="{$v[url]}" target="_blank" title="{$v[title]}">{$v[subject]}</a></li>
						{/loop}
						{/block}
					</ul>
				</div>
			</div>
			<!-- 同类热门游戏排行榜 -->
			<div class="conbox">
				<div class="block-title4">
					<h3 class="title">同类热门游戏排行榜</h3>
				</div>
				<div class="soft-list5">
					<ul>
						{block:list_top orderby="views" limit="10"}
						{loop:$data[list] $v}
						<li>
							<a href="{$v[url]}" target="_blank" title="{$v[title]}">
								<img class="pic" src="{$v[pic]}" alt="{$v[title]}" onerror="this.src='{$cfg[tpl]}style/img/nopic.png'">
								<div class="tit">{$v[subject]}</div>
							</a>
						</li>
						{/loop}
						{/block}
					</ul>
				</div>
			</div>
			<!-- 热门搜索 -->
			<div class="conbox">
				<div class="block-title4">
					<h3 class="title">热门搜索</h3>
				</div>
				<div class="hot-words">
					{block:taglist mid="3" limit="16" orderby="count"}
					{loop:$data[list] $v}
					<a class="c{@$v['xuhao']}" href="{$v[url]}" target="_blank" title="{$v[name]}">{$v[name]}</a>
					{/loop}
					{/block}
				</div>
			</div>
		</div>
	</div>
</div>

{inc:footer.htm}
