    </main>
    <footer class="footer qiming-background-secondary">
        <div class="foot qiming-container qiming-padding-small">
            <div class="qiming-text-center qiming-padding-bottom">
                <p class="qiming-text-small">起名网专注科学智能宝宝起名</p>
            </div>
            <div class="qiming-grid qiming-grid-small" qiming-grid>
                <div class="qiming-width-1-3">
                    <a href="{U('qiming/index/baobao')}" class="qiming-btn qiming-btn-primary qiming-width-1-1 qiming-margin-bottom-small">宝宝起名</a>
                </div>
                <div class="qiming-width-1-3">
                    <a href="{U('qiming/index/ceshi')}" class="qiming-btn qiming-btn-primary qiming-width-1-1 qiming-margin-bottom-small">姓名测试</a>
                </div>
                <div class="qiming-width-1-3">
                    <a href="{U('qiming/index/kxzd')}" class="qiming-btn qiming-btn-primary qiming-width-1-1 qiming-margin-bottom-small">康熙字典</a>
                </div>
            </div>
            <div class="foot-cop qiming-text-center qiming-padding-top">
                <span>&copy; 2005-2025 <a href="https://www.qiming.cn/" target="_blank">www.qiming.cn</a></span>
                <br>
                <a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>