<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$seo_title}</title>
    <meta name="keywords" content="楚辞起名,楚辞取名,屈原起名,起名网">
    <meta name="description" content="楚辞起名从屈原等楚辞名家的作品中汲取灵感，为您提供浪漫瑰丽的好名字">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css">
    <script src="https://static.qiming.cn/style/qiming/js/jquery.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/uikit.min.js"></script>
</head>
<body class="qiming-background-muted site qiming-zz-background">
    <!-- Header -->
    <header class="header qiming-background-default">
        <div class="navbar qiming-position-relative">
            <div class="qiming-container qiming-flex qiming-flex-middle qiming-position-relative qiming-logo-shou">
                <a href="{U('qiming/index/init')}" class="header-home" qiming-toggle>
                    <i class="iconfont icon-menu qiming-text-bolder"></i>
                </a>
                <a href="{U('qiming/index/init')}" class="logo qiming-logo qiming-display-inline-block" alt="起名网">
                    <div class="qiming-logo-nav-night logobg qiming-visible@m"></div>
                    <div class="qiming-app-logo2 logobg2"></div>
                </a>
                <nav class="nav qiming-flex-1 qiming-position-relative">
                    <ul class="nav qiming-flex-1 qiming-margin-remove">
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/init')}">首页</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/baobao')}">宝宝起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/bazi')}">八字起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom current-menu-item">
                            <a href="{U('qiming/index/shici')}">诗词起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/gaimingzi')}">成人改名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/ceshi')}">姓名测试</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/gongsi')}">公司起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/zhouyi')}">周易起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/zhishi')}">起名知识</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/kxzd')}">康熙字典</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/baijiaxing')}">百家姓</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-info qiming-flex qiming-flex-middle">
                    <a href="#header-search" class="header-search qiming-navbar-s" qiming-toggle>
                        <i class="iconfont icon-search qiming-text-bolder"></i>
                    </a>
                    <div id="header-search" qiming-modal>
                        <div class="qiming-tan qiming-modal-dialog qiming-modal-body home-modal qiming-padding-remove qiming-margin-auto-vertical">
                            <button class="qiming-modal-close-default" type="button" qiming-close></button>
                            <div class="b-r-12 qiming-background-default qiming-overflow-hidden qiming-position-relative qiming-padding-30px">
                                <h3>搜索</h3>
                                <div class="search search-navbar">
                                    <form method="get" class="b-r-4 b-a qiming-form qiming-flex qiming-overflow-hidden search-form" action="{U('qiming/index/search')}">
                                        <input type="search" placeholder="查询字、名字或姓名" autocomplete="off" id="k" value="" name="k" required="required" class="qiming-input qiming-flex-1 qiming-text-small">
                                        <i class="iconfont icon-search qiming-text-search"></i>
                                        <input type="hidden" name="formType" id="searchType" value="header">
                                    </form>
                                </div>
                                <div class="header-btn-search">
                                    <div class="header-btn-search-s qiming-dt change-color btn-search-all">立即搜索</div>
                                </div>
                                <div class="tags-item qiming-margin-top">
                                    <p class="qiming-margin-small-bottom qiming-text-small">搜索最多的：</p>
                                    <a href="{U('qiming/index/kxzd')}?char=雪" class="tag-cloud-link tag-link-128 tag-link-position-1">雪</a>
                                    <a href="{U('qiming/index/kxzd')}?char=旭" class="tag-cloud-link tag-link-128 tag-link-position-1">旭</a>
                                    <a href="#" class="tag-cloud-link tag-link-128 tag-link-position-1">信川</a>
                                    <a href="#" class="tag-cloud-link tag-link-128 tag-link-position-1">煜晨</a>
                                </div>
                            </div>
                            <div class="home-modal-bottom">
                                <ul>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="qiming_vipbgs">
        <img src="https://static.qiming.cn/style/qiming/images/ccqmBanner.jpg" style="width: 100%;">
    </div>
    
    <div class="qiming-container" id="page-content">
        <div class="qiming-pages-vip">
            <div class="qiming_portal_block_summary">
                <div class="formGsQm">
                    <h1>楚辞起名</h1>
                    <p>浪漫瑰丽，独具匠心，为宝宝起一个有情怀的好名字</p>
                </div>
            </div>
        </div>
        
        <div class="qiming-container qiming-margin-top-30">
            <div class="qiming-background-default qiming-padding-app qiming-margin-medium-bottom">
                <div class="qiming-flex qiming-flex-center qiming-flex-middle">
                    <a href="{U('qiming/index/tangshi')}" class="qiming-margin-right-10 qiming-padding-left-right qiming-padding-small qiming-display-inline-block">唐诗起名</a>
                    <a href="{U('qiming/index/shijing')}" class="qiming-margin-right-10 qiming-padding-left-right qiming-padding-small qiming-display-inline-block">诗经起名</a>
                    <a href="{U('qiming/index/songci')}" class="qiming-margin-right-10 qiming-padding-left-right qiming-padding-small qiming-display-inline-block">宋词起名</a>
                    <a href="{U('qiming/index/chuci')}" class="qiming-padding-left-right qiming-padding-small qiming-background-primary qiming-display-inline-block qiming-border-r">楚辞起名</a>
                </div>
            </div>
        </div>
        
        <section class="qiming-container qiming-margin-medium-bottom qiming-margin-top-20 qiming-qqqun-row">
            <div class="qiming-container">
                <div class="qiming-background-default qiming-padding-app qiming-margin-medium-bottom qiming-margin-top-20">
                    <h2 class="apply">楚辞起名：浪漫瑰丽，独具匠心</h2>
                    <blockquote>
                        <p>楚辞是中国文学史上第一部浪漫主义诗歌总集，以屈原的《离骚》为代表。楚辞以其丰富的想象、绚丽的色彩、炽热的情感，成为中华文化中最具浪漫主义色彩的文学作品。</p>
                        <p>从楚辞中起名，能够赋予名字独特的气质和深远的意境。"路漫漫其修远兮，吾将上下而求索"中的"求索"；"帝高阳之苗裔兮，朕皇考曰伯庸"中的"高阳"、"皇考"；"日月忽其不淹兮，春与秋其代序"中的"日月"、"春秋"，都是极具特色的起名用字。</p>
                        <p>楚辞起名注重的是名字的浪漫情怀和文化底蕴，一个来自楚辞的好名字，能够让宝宝拥有独特的气质和深邃的内涵。</p>
                    </blockquote>
                </div>
            </div>
        </section>
        
        <div class="qiming-pages-web-yw-box qiming-background-default">
            <div class="qiming-container">
                <div class="web-yw-box-title">
                    <span>楚辞名句精选</span>
                    <p>"从楚辞名句中汲取起名灵感"</p>
                </div>
                <div class="qiming-margin-top-30">
                    <div class="qiming-margin-bottom-20">
                        <div class="qiming-flex qiming-flex-middle qiming-background-default qiming-padding-small qiming-border-bottom">
                            <div class="qiming-flex-1">
                                <h3 class="qiming-margin-remove qiming-h4">《离骚》</h3>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">路漫漫其修远兮，吾将上下而求索。</p>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">"求索"寓意追求探索，适合有进取心的宝宝</p>
                            </div>
                        </div>
                    </div>
                    <div class="qiming-margin-bottom-20">
                        <div class="qiming-flex qiming-flex-middle qiming-background-default qiming-padding-small qiming-border-bottom">
                            <div class="qiming-flex-1">
                                <h3 class="qiming-margin-remove qiming-h4">《九歌·东皇太一》</h3>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">吉日兮辰良，穆将愉兮上皇。</p>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">"辰良"寓意良辰美景，"穆"表恭敬美好</p>
                            </div>
                        </div>
                    </div>
                    <div class="qiming-margin-bottom-20">
                        <div class="qiming-flex qiming-flex-middle qiming-background-default qiming-padding-small qiming-border-bottom">
                            <div class="qiming-flex-1">
                                <h3 class="qiming-margin-remove qiming-h4">《九歌·云中君》</h3>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">浴兰汤兮沐芳，华采衣兮若英。</p>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">"兰芳"寓意美德，"若英"如花般美丽</p>
                            </div>
                        </div>
                    </div>
                    <div class="qiming-margin-bottom-20">
                        <div class="qiming-flex qiming-flex-middle qiming-background-default qiming-padding-small qiming-border-bottom">
                            <div class="qiming-flex-1">
                                <h3 class="qiming-margin-remove qiming-h4">《九歌·湘君》</h3>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">君不行兮夷犹，蹇谁留兮中洲？</p>
                                <p class="qiming-text-small qiming-text-muted qiming-margin-top-5">"夷犹"寓意从容不迫</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wapnone qiming_follow_service" style="top:75%">
            <ul>
                <li class="qiming_follow_service_box qiming_follow_service_ax goTop qiming_footer_s">
                    <a href="#header" class="qiming-display-block" qiming-scroll>
                        <i class="iconfont icon-direction-up"></i>
                        <div class="qiming_follow_service_ax_cont">
                            <span class="qiming_follow_service_triangle"></span>
                            <span>返回顶部</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="qiming-app-gotop gotops qiming-hidden@s" id="gotops">
            <a href="#header" class="qiming-display-block" qiming-scroll>
                <i class="iconfont icon-arrow-up-bold icontop"></i>
            </a>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer qiming-background-secondary">
        <div class="foot qiming-container qiming-padding">
            <div class="qiming-grid" qiming-grid>
                <div class="qiming-width-1-1@s qiming-width-1-3@xl">
                    <div class="foot-item foot-item-first qiming-position-relative qiming-flex">
                        <a href="{U('qiming/index/init')}" target="_blank" class="foot-logo qiming-display-block">
                            <img src="https://static.qiming.cn/style/qiming/images/logo_foot.png">
                        </a>
                        <p class="qiming-text-small">起名网专注科学智能宝宝起名，测名字打分平台，结合传统国学文化的智能起名系统研发和起名学术探索交流，以"只为一个好名字"为宗旨，潜心研发，百次升级，千万级大数据分析，助您轻松起好名。</p>
                    </div>
                </div>
                <div class="qiming-width-2-3 qiming-visible@s">
                    <div class="qiming-grid" qiming-grid>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>快捷导航</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/baobao')}" target="_blank">宝宝起名</a></li>
                                    <li><a href="{U('qiming/index/bazi')}" target="_blank">八字起名</a></li>
                                    <li><a href="{U('qiming/index/zhouyi')}" target="_blank">周易起名</a></li>
                                    <li><a href="{U('qiming/index/kxzd')}" target="_blank">康熙字典</a></li>
                                    <li><a href="{U('qiming/index/gongsi')}" target="_blank">公司起名</a></li>
                                    <li><a href="{U('qiming/index/ceshi')}" target="_blank">姓名测试</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>关于我们</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="#" target="_blank">关于我们</a></li>
                                    <li><a href="#" target="_blank">服务条款</a></li>
                                    <li><a href="#" target="_blank">版权声明</a></li>
                                    <li><a href="#" target="_blank">投诉建议</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>友情链接</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="https://zidian.qiming.cn/" target="_blank">汉语字典</a></li>
                                    <li><a href="https://cidian.qiming.cn/" target="_blank">汉语词典</a></li>
                                    <li><a href="https://chengyu.qiming.cn/" target="_blank">成语大全</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-cop">
            <div class="qiming-container qiming-padding-small qiming-clearfix">
                <div class="qiming-float-left">
                    <span>&copy; 2005-2025 <a href="https://www.qiming.cn/" title="起名网" target="_blank">www.qiming.cn</a> &amp; All rights reserved</span>
                    <a class="qiming-margin-small-right" href="#" target="_blank"><i class="iconfont icon-map-filling" aria-hidden="true"></i>网站地图</a>
                    <span class="qiming-margin-small-right qiming-gongan"><img src="https://static.qiming.cn/style/qiming/images/qiming-110.png" height="6">皖公网安备34010402704531号</span>
                    <span class="qiming-margin-small-right"><a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a></span>
                </div>
                <div class="qiming-float-right qiming-visible@s">
                    <span><a href="https://www.qiming.cn/" target="_blank">起名网</a></span>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
</body>
</html>