<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>{$seo_title}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="canonical" href="https://www.qiming.cn/" />
<link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css" />
<link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css" type='text/css' media='all' />
<link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css" type='text/css' media='all' />
<link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css" type='text/css' media='all' />
<script type="text/javascript" src="https://static.qiming.cn/style/qiming/js/jquery.min.js">
</script>
<script type="text/javascript" src="https://static.qiming.cn/style/qiming/js/uikit.min.js">
</script>
<link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/indexhl.css" type='text/css' media='all' />
</head>
<body>
<div class="qiming-background-muted site qiming-zz-background">
<header class="header qiming-background-default">
<div class="navbar qiming-position-relative">
<div class="qiming-container qiming-flex qiming-flex-middle qiming-position-relative qiming-logo-shou">
<a href="https://www.qiming.cn/" class="header-home" qiming-toggle>
<i class="iconfont icon-menu qiming-text-bolder">
</i>
</a>
<a href="https://www.qiming.cn" class="logo qiming-logo qiming-display-inline-block" alt="起名网">
<div class="qiming-logo-nav-night logobg qiming-visible@m">
</div>
<div class="qiming-app-logo2 logobg2">
</div>
</a>
<nav class="nav qiming-flex-1 qiming-position-relative">
<ul class="nav qiming-flex-1 qiming-margin-remove">
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
<a href="https://www.qiming.cn">首页</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/baobao.html">宝宝起名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children">
<a href="https://www.qiming.cn/bazi.html">八字起名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/shici.html">诗词起名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/gaimingzi.html">成人改名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/xingmingceshi.html">姓名测试</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/gongsiqiming.html">公司起名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/zhouyiqiming.html">周易起名</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/zhishi/18.html">起名知识</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/kxzd/index.html">康熙字典</a>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
<a href="https://www.qiming.cn/baijiaxing/index.html">百家姓</a>
</li>
</ul>
</nav>
<div class="header-info qiming-flex qiming-flex-middle">
<a href="#header-search" class="header-search qiming-navbar-s" qiming-toggle>
<i class="iconfont icon-search qiming-text-bolder">
</i>
</a>
<div id="header-search" qiming-modal>
<div class="qiming-tan qiming-modal-dialog qiming-modal-body home-modal qiming-padding-remove qiming-margin-auto-vertical">
<button class="qiming-modal-close-default" type="button" qiming-close>
</button>
<div class="b-r-12 qiming-background-default qiming-overflow-hidden qiming-position-relative qiming-padding-30px">
<h3>搜索</h3>
<div class="search search-navbar">
<form method="get" class="b-r-4 b-a qiming-form qiming-flex qiming-overflow-hidden search-form" action="https://www.qiming.cn/search.html">
<input type="search" placeholder="查询字、名字或姓名" autocomplete="off" id="k" value="" name="k" required="required" class="qiming-input qiming-flex-1 qiming-text-small">
<i class="iconfont icon-search qiming-text-search">
</i>
<input type="hidden" name="formType" id="searchType" value="header" >
</form>
</div>
<div class="header-btn-search">
<div class="header-btn-search-s qiming-dt change-color btn-search-all">立即搜索</div>
</div>
<div class="tags-item qiming-margin-top">
<p class="qiming-margin-small-bottom qiming-text-small">搜索最多的：</p>
<a href="https://www.qiming.cn/kxzd/998141.html" class="tag-cloud-link tag-link-128 tag-link-position-1">雪</a>
<a href="https://www.qiming.cn/kxzd/892215.html" class="tag-cloud-link tag-link-128 tag-link-position-1">旭</a>
<a href="https://www.qiming.cn/mingzi/6676140668.html" class="tag-cloud-link tag-link-128 tag-link-position-1">信川</a>
<a href="https://www.qiming.cn/mingzi/88032507.html" class="tag-cloud-link tag-link-128 tag-link-position-1">煜晨</a>
</div>
</div>
<div class="home-modal-bottom">
<ul>
<li>
</li>
<li>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<main>
<div class="home_img1 qiming-container qiming-container-index">
<div class="qiming-cm">
<div class="formHostName listForm mt30">
<div class="listNavTab flex spb">
<a href="JavaScript:;" class="active th">宝宝起名</a>
<a href="JavaScript:;" class="th">姓名测试</a>
<a href="JavaScript:;" class="th">姓名打分</a>
</div>
<div class="xmBodyTab">
<form method="get" autocomplete="off" target="_blank" action="/index.php?m=qiming&c=index&a=result" id="homeForm">
<div class="formNameBg">
<div class="formNameBody flex spb">
<div class="inputFormItemLmw">
<input type="text" id="xing" name="xing" placeholder="请输入您的姓氏">
<div class="over_hidden sexSelect radio">
<label class="active">
<input name="sex" type="radio" value="1" checked="">
<i>
</i>男</label>
<label>
<input name="sex" type="radio" value="2">
<i>
</i>女</label>
<label>
<input name="sex" type="radio" value="3">
<i>
</i>未出生</label>
</div>
<input class="sexInput" id="sex" name="sex" type="hidden" value="1">
</div>
<div class="inputFormItemLmw">
<input type="text" id="birthday" class="J_datepicker input-birthday" name="birth_time" readonly="" data-required="" placeholder="请选择出生日期" value="" data-error-position="请选择" data-toid-date="b_input" data-toid-hour="h_input" data-toid-minute="m_input" data-type="0" data-history="" data-date="2026-03-24" data-hour="" data-minute="">
<input type="hidden" name="birthday" id="b_input" value="">
<input type="hidden" name="hour" id="h_input" value="">
</div>
<div class="inputFormItemLmw">
<input type="text" name="birth_address" id="cs" class="cs" placeholder="请选择出生地" readonly="">
<input type="hidden" name="city_code" id="harea" value="">
</div>
<input type="hidden" name="oid" id="oid" value="123456">
<input type="hidden" name="type" id="type" value="qmhome" >
<input type="hidden" name="key" id="key" value="" >
<input type="hidden" name="ref" id="ref" value="" >
</div>
<a class="tabSubmit" href="javascript:;" onclick="qiming();">立即宝宝起名</a>
<div class='lunpan_box'>
<div class='lunpan'>
<img src='https://static.qiming.cn/style/qiming/images/luopan.png'>
<img src='https://static.qiming.cn/style/qiming/images/zhizheng.png'>
</div>
<div class='lunpan_color'>
</div>
</div>
</div>
</form>
<form method="post" autocomplete="off" target="_blank" style="display: none;">
<div class="formNameBg">
<div class="formNameBody flex spb">
<div class="inputFormItemLmw">
<input type="text" id="xing2" name="xing2"  placeholder="请输入你的姓名">
<div class="over_hidden radio">
<label class="on active">
<input name="sex2" type="radio" value="1" checked="">
<i>
</i>男</label>
<label>
<input name="sex2" type="radio" value="2">
<i>
</i>女</label>
</div>
<input class="sexInput" id="sex2" name="sex2" type="hidden" value="1">
</div>
<div class="inputFormItemLmw">
<input type="text" id="birthday2" class="J_datepicker input-birthday" name="birth_time" readonly="" data-required="" placeholder="请选择出生日期" value="" data-error-position="请选择" data-toid-date="b_input2" data-toid-hour="h_input2" data-toid-minute="m_input2" data-type="0" data-history="" data-date="2026-03-24" data-hour="" data-minute="">
<input type="hidden" name="birthday2" id="b_input2" value="">
<input type="hidden" name="hour2" id="h_input2" value="">
</div>
<div class="inputFormItemLmw">
<input type="text" name="birth_address2" id="cs2" placeholder="请选择出生地" readonly="">
<input type="hidden" name="city_code" id="harea2" value="">
<i class="xlIcon sur">
</i>
</div>
<input type="hidden" name="oid2" id="oid2" value="123456">
<input type="hidden" name="type2" id="type2" value="xmcshome" >
<input type="hidden" name="key2" id="key2" value="" >
<input type="hidden" name="ref2" id="ref2" value="" >
</div>
<a class="tabSubmit" href="javascript:;" onclick="gmcm(2);">立即姓名测试</a>
<div class='lunpan_box'>
<div class='lunpan'>
<img src='https://static.qiming.cn/style/qiming/images/luopan.png'>
<img src='https://static.qiming.cn/style/qiming/images/zhizheng.png'>
</div>
<div class='lunpan_color'>
</div>
</div>
</div>
</form>
<form method="post" autocomplete="off" target="_blank" style="display: none;">
<div class="formNameBg">
<div class="formNameBody flex spb">
<div class="inputFormItemLmw">
<input type="text" id="xing3" name="xing3"  placeholder="请输入你的姓名">
<div class="over_hidden radio">
<label class="on active">
<input name="gender" type="radio" value="1" checked="">
<i>
</i>男</label>
<label>
<input name="gender" type="radio" value="2">
<i>
</i>女</label>
</div>
<input class="sexInput" id="sex3" name="sex3" type="hidden" value="1">
</div>
<div class="inputFormItemLmw">
<input type="text" id="birthday3" class="J_datepicker input-birthday" name="birth_time" readonly="" data-required="" placeholder="请选择出生日期" value="" data-error-position="请选择" data-toid-date="b_input3" data-toid-hour="h_input3" data-toid-minute="m_input3" data-type="0" data-history="" data-date="2026-03-24" data-hour="" data-minute="">
<input type="hidden" name="birthday" id="b_input3" value="">
<input type="hidden" name="hour" id="h_input3" value="">
</div>
<div class="inputFormItemLmw">
<input type="text" name="birth_address3" id="cs3" placeholder="请选择出生地" readonly="">
<input type="hidden" name="city_code" id="harea3" value="">
</div>
</div>
<input type="hidden" name="oid3" id="oid3" value="123456">
<input type="hidden" name="type3" id="type3" value="bzjphome" >
<input type="hidden" name="key3" id="key3" value="" >
<input type="hidden" name="ref3" id="ref3" value="" >
<a class="tabSubmit" href="javascript:;" onclick="gmcm(3);">立即查看</a>
<div class='lunpan_box'>
<div class='lunpan'>
<img src='https://static.qiming.cn/style/qiming/images/luopan.png'>
<img src='https://static.qiming.cn/style/qiming/images/zhizheng.png'>
</div>
<div class='lunpan_color'>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="qiming-rili">
<div class="hpx bg-white rounded-lg shadow-md border border-lunar-primary/20 overflow-hidden">
<div class="h-12 bg-lunar-primary text-white px-4 flex items-center justify-between text-sm">
<div class="flex items-center">
<span class="icon-leaf mr-2">
</span>
<span class="font-medium">今日黄历</span>
</div>
<div>2026年3月24日 星期二 白羊座</div>
</div>
<div class="hnpx p-3 grid grid-cols-10 gap-2">
<div class="col-span-2">
<div class="info-panel h-full flex flex-col items-center justify-center">
<div class="text-5xl font-bold text-lunar-dark sz">24</div>
<div class="text-lunar-primary text-sm mt-1 nian">农历二月初六</div>
<div class="w-12 h-px bg-gray-200 my-1">
</div>
<div class="text-xs text-gray-500 text-center nian">丙午年 【马】<br>辛卯月·丁酉日</div>
</div>
</div>
<div class="col-span-3 grid grid-rows-2 gap-2">
<div class="info-panel">
<div class="title-sm flex items-center text-lunar-primary">
<span class="icon-check text-xs mr-1">
</span>宜</div>
<div class="grid grid-cols-2 gap-x-1 gap-y-0.5 text-xs">
<div>破屋</div>
<div>坏垣</div>
<div>求医</div>
<div>治病</div>
<div>馀事勿取</div>
</div>
</div>
<div class="info-panel">
<div class="title-sm flex items-center text-red-500">
<span class="icon-times text-xs mr-1">
</span>忌</div>
<div class="grid grid-cols-2 gap-x-1 gap-y-0.5 text-xs">
<div>开光</div>
<div>嫁娶</div>
</div>
</div>
</div>
<div class="col-span-4 grid grid-cols-2 grid-rows-2 gap-2">
<div class="info-panel">
<div class="title-sm">二十四节气</div>
<div class="text-lunar-primary text-sm font-medium">春分 (第5天)</div>
<div class="text-xs text-gray-500 mt-1">距离下一节气<em>清明</em>还有<em>12</em>天</div>
</div>
<div class="info-panel">
<div class="title-sm">冲煞</div>
<div class="text-gray-700 text-sm">(辛卯)兔&nbsp;东</div>
<div class="text-xs text-gray-500 mt-1">(辛丑)牛&nbsp;西</div>
</div>
<div class="info-panel">
<div class="title-sm">今日吉时</div>
<div class="flex flex-wrap gap-1 mt-1">
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">子</span>
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">丑</span>
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">卯</span>
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">午</span>
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">酉</span>
<span class="px-1.5 py-0.5 bg-lunar-light text-lunar-primary text-xs rounded">戌</span>
</div>
</div>
<div class="info-panel">
<div class="title-sm">方位</div>
<div class="grid grid-cols-3 gap-0.5 text-xs">
<div class="text-center">
<div class="text-gray-500">财神</div>
<div class="text-lunar-primary">西南</div>
</div>
<div class="text-center">
<div class="text-gray-500">喜神</div>
<div class="text-lunar-primary">正南</div>
</div>
<div class="text-center">
<div class="text-gray-500">福神</div>
<div class="text-lunar-primary">东南</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="aui-scrollView">
<div class="aui-palace aui-palace-one">
<a href="https://www.qiming.cn/baobao.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xbbqm.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>宝宝起名</h2>
</div>
</a>
<a href="https://www.qiming.cn/bazi.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xbzqm.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>八字起名</h2>
</div>
</a>
<a href="https://www.qiming.cn/shici.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xscqm.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>诗词起名</h2>
</div>
</a>
<a href="https://www.qiming.cn/gaimingzi.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xcrgm.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>成人改名</h2>
</div>
</a>
<a href="https://www.qiming.cn/xingmingceshi.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xxmcs.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>姓名测试</h2>
</div>
</a>
<a href="https://www.qiming.cn/gongsiqiming.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xgsqm.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>公司起名</h2>
</div>
</a>
<a href="https://www.qiming.cn/zhishi/18.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xqmzs.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>起名知识</h2>
</div>
</a>
<a href="https://www.qiming.cn/kxzd/index.html" class="aui-palace-grid">
<div class="aui-palace-grid-icon">
<img src="https://static.qiming.cn/style/qiming/images/xkxzd.jpg" alt="">
</div>
<div class="aui-palace-grid-text">
<h2>康熙字典</h2>
</div>
</a>
</div>
<div class="divHeight">
</div>
</section>
<div class="home_img1 qiming-container">
<div class="qiming-position-relative qiming-visible-toggle qiming-overflow-hidde" tabindex="-1" qiming-slider>
<ul class="qiming-grid-ceosmls qiming-slider-items qiming-child-width-1-2 qiming-child-width-1-6@s" qiming-grid>
<li>
<a href="https://www.qiming.cn/nanhai.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/nanhaiqiming.jpg">
</a>
</li>
<li>
<a href="https://www.qiming.cn/nvhai.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/nvhaiqiming.jpg">
</a>
</li>
<li>
<a href="https://www.qiming.cn/xingmingpeidui.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/xingmingpeidui.jpg">
</a>
</li>
<li>
<a href="https://www.qiming.cn/xingmingceshi.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/xingmingceshi.jpg">
</a>
</li>
<li>
<a href="https://www.qiming.cn/dingzi.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/dingziqiming.jpg">
</a>
</li>
<li>
<a href="https://www.qiming.cn/gaimingzi.html" target="_blank">
<img src="https://static.qiming.cn/style/qiming/images/chengrengaiming.jpg">
</a>
</li>
</ul>
</div>
</div>
<section class="fastlink qiming-container qiming-overflow-hidden">
<div class="qiming-position-relative qiming-visible-toggle" tabindex="-1" qiming-slider>
<ul class="qiming-grid-small qiming-slider-items qiming-child-width-1-1@s qiming-child-width-1-4@m" qiming-grid>
<li>
<div class="fastlink-item qiming-background-default b-a b-r-4 qiming-padding-small">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>唐诗宋词<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">传承千年的诗意起名艺术</span>
</div>
<div class="fastlink-icons tags-item qiming-margin-remove-bottom">
<div class="fastlink-icons-d">
<a href="https://www.qiming.cn/tangshi.html" target="_blank">
<i>
<img src="https://static.qiming.cn/style/qiming/images/tang.png">
</i>
<span>唐诗起名</span>
</a>
</div>
<div class="fastlink-icons-d">
<a href="https://www.qiming.cn/shijing.html" target="_blank">
<i>
<img src="https://static.qiming.cn/style/qiming/images/shi.png">
</i>
<span>诗经起名</span>
</a>
</div>
<div class="fastlink-icons-d">
<a href="https://www.qiming.cn/songci.html" target="_blank">
<i>
<img src="https://static.qiming.cn/style/qiming/images/song.png">
</i>
<span>宋词起名</span>
</a>
</div>
<div class="fastlink-icons-d">
<a href="https://www.qiming.cn/chuci.html" target="_blank">
<i>
<img src="https://static.qiming.cn/style/qiming/images/ci.png">
</i>
<span>楚辞起名</span>
</a>
</div>
</div>
</div>
</li>
<li>
<div class="fastlink-item qiming-background-default b-a b-r-4 qiming-padding-small">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-drag">
</i>别人正在查的姓名<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">专业的国学起名网站</span>
</div>
<div class="qiming-list tags-item qiming-margin-remove-bottom">
<a href="https://www.qiming.cn/xingming/546297475.html" target="_blank" class="b-r-4" title="季可春">季可春</a>
<a href="https://www.qiming.cn/xingming/1916166661.html" target="_blank" class="b-r-4" title="荆笙偲">荆笙偲</a>
<a href="https://www.qiming.cn/xingming/2193174049.html" target="_blank" class="b-r-4" title="普偌秉">普偌秉</a>
<a href="https://www.qiming.cn/xingming/6888229392.html" target="_blank" class="b-r-4" title="招杰妤">招杰妤</a>
<a href="https://www.qiming.cn/xingming/2574265819.html" target="_blank" class="b-r-4" title="石昊哲">石昊哲</a>
<a href="https://www.qiming.cn/xingming/9226307530.html" target="_blank" class="b-r-4" title="崔宜菲">崔宜菲</a>
<a href="https://www.qiming.cn/xingming/2591402504.html" target="_blank" class="b-r-4" title="徐蕴琦">徐蕴琦</a>
<a href="https://www.qiming.cn/xingming/4686409074.html" target="_blank" class="b-r-4" title="李伊茗">李伊茗</a>
<a href="https://www.qiming.cn/xingming/1299465041.html" target="_blank" class="b-r-4" title="高玮崇">高玮崇</a>
<a href="https://www.qiming.cn/xingming/2389783191.html" target="_blank" class="b-r-4" title="曾洛斯">曾洛斯</a>
<a href="https://www.qiming.cn/xingming/3822864555.html" target="_blank" class="b-r-4" title="程海云">程海云</a>
<a href="https://www.qiming.cn/xingming/7922980997.html" target="_blank" class="b-r-4" title="张书梦">张书梦</a>
</div>
</div>
</li>
<li>
<div class="fastlink-item qiming-background-default b-a b-r-4 qiming-padding-small">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-layers">
</i>最新更新<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">起名</span>
</div>
<ul class="fastlink-list qiming-padding-remove">
<li>
<a href="https://www.qiming.cn/a/1126860.html" target="_blank" title="有哪些出自《易经》且有寓意的名字？" class="qiming-text-truncate">有哪些出自《易经》且有寓意的名字？</a>
</li>
<li>
<a href="https://www.qiming.cn/a/1821259.html" target="_blank" title="出自易经小众名字，大气且吉利" class="qiming-text-truncate">出自易经小众名字，大气且吉利</a>
</li>
<li>
<a href="https://www.qiming.cn/a/1458258.html" target="_blank" title="《周易》经典取名赏析，周易起名" class="qiming-text-truncate">《周易》经典取名赏析，周易起名</a>
</li>
</ul>
</div>
</li>
<li>
<div class="fastlink-item qiming-background-default b-a b-r-4 qiming-padding-small">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-time">
</i>宝宝起名<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">时尚 高雅 大气 吉祥</span>
</div>
<div class="fastlink-img qiming-position-relative">
<a href="https://www.qiming.cn/baobao.html" target="_blank" class="qiming-display-block">
<img src="https://static.qiming.cn/style/qiming/images/baobao.jpg" alt="起个好名字 陪伴一辈子" class="qiming-width-1-1">
</a>
</div>
</div>
</li>
</ul>
</div>
</section>
<section class="zhuanti qiming-margin-medium-bottom">
<div class="qiming-container qiming-margin-medium-top qiming-margin-medium-bottom">
<div class="qiming-zhuanti-wrap">
<div class="content container">
<div class="section-title qiming-flex-middle">
<ul class="qiming-cat-switcher cat-switcher qiming-padding-remove" qiming-switcher>
<h5>培养宝宝成才，从起个好名字开始</h5>
<em>
</em>
</ul>
</div>
<div class="qiming-grid-medium" qiming-grid>
<div class="qiming-width-1-2 qiming-width-1-4@s">
<div class="qiming-zhuanti-item qiming-dongtai">
<a href="https://www.qiming.cn/bazi.html" target="_blank">
<div class="qiming-zhuanti-item-thumb">
<i class="qiming-zhuanti-thumb " style="background-image:url(https://static.qiming.cn/style/qiming/images/bzqm.jpg">
</i>
</div>
<h2>八字起名</h2>
<div class="entry">汇聚多位国内权威易学大师，以深厚经验精准解析八字，结合心理学，量身打造帮扶一生的优质好名</div>
<div class="btns">
<span class="btn">立即八字起名</span>
</div>
</a>
</div>
</div>
<div class="qiming-width-1-2 qiming-width-1-4@s">
<div class="qiming-zhuanti-item qiming-dongtai">
<a href="https://www.qiming.cn/gongsiqiming.html" target="_blank">
<div class="qiming-zhuanti-item-thumb">
<i class="qiming-zhuanti-thumb " style="background-image:url(https://static.qiming.cn/style/qiming/images/gsqm.jpg">
</i>
</div>
<h2>公司起名</h2>
<div class="entry">资深命名专家与品牌策划大师联手打造，为企业量身定制独特专属好名，助力企业成为行业龙头</div>
<div class="btns">
<span class="btn">立即公司起名</span>
</div>
</a>
</div>
</div>
<div class="qiming-width-1-2 qiming-width-1-4@s">
<div class="qiming-zhuanti-item qiming-dongtai">
<a href="https://www.qiming.cn/shici.html" target="_blank">
<div class="qiming-zhuanti-item-thumb">
<i class="qiming-zhuanti-thumb " style="background-image:url(https://static.qiming.cn/style/qiming/images/scqm.jpg">
</i>
</div>
<h2>诗词起名</h2>
<div class="entry">结合孩子出生信息和父母期盼，从二十多万诗词古文中取字，确保每个名字意蕴优美、 诗情画意。</div>
<div class="btns">
<span class="btn">立即诗词起名</span>
</div>
</a>
</div>
</div>
<div class="qiming-width-1-2 qiming-width-1-4@s">
<div class="qiming-zhuanti-item qiming-dongtai">
<a href="https://www.qiming.cn/zhouyiqiming.html" target="_blank">
<div class="qiming-zhuanti-item-thumb">
<i class="qiming-zhuanti-thumb " style="background-image:url(https://static.qiming.cn/style/qiming/images/zyqm.jpg">
</i>
</div>
<h2>周易起名</h2>
<div class="entry">汲取千年国学智慧，融汇《周易》精髓，结合现代科学理念，为您提供文化深厚、寓意吉祥的好名字</div>
<div class="btns">
<span class="btn">立即周易起名</span>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="switcher">
<div class="qiming-container qiming-margin-medium-top qiming-margin-medium-bottom">
<ul class="qiming-cat-switcher cat-switcher qiming-padding-remove" qiming-switcher>
<h5>起个好名字，陪伴一辈子</h5>
<em>
</em>
<li class="section-title qiming-display-inline-block qiming-flex qiming-flex-middle qiming-cat-switcher-z">
<h3 class="qiming-flex-1 qiming-margin-remove qiming-position-relative">男孩起名用字排行</h3>
</li>
<li class="section-title qiming-display-inline-block qiming-flex qiming-flex-middle qiming-cat-switcher-z">
<h3 class="qiming-flex-1 qiming-margin-remove qiming-position-relative">女孩起名用字排行</h3>
</li>
<li class="section-title qiming-display-inline-block qiming-flex qiming-flex-middle qiming-cat-switcher-z">
<h3 class="qiming-flex-1 qiming-margin-remove qiming-position-relative">男孩热门名字排行</h3>
</li>
<li class="section-title qiming-display-inline-block qiming-flex qiming-flex-middle qiming-cat-switcher-z">
<h3 class="qiming-flex-1 qiming-margin-remove qiming-position-relative">女孩热门名字排行</h3>
</li>
</ul>
<div class="qiming-switcher qiming-padding-remove qiming-switcher-top">
<div class="card qiming-animation-slide-left-small">
<div class="qiming-grid-medium qiming-mmlist" qiming-grid>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>男孩起名用字排行<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">2026年3月男孩起名用字排行</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
{loop $rankings['boy_chars'] $v}
<li>
<a href="{U('qiming/kxzd/show', 'char='.$v['char'])}" target="_blank" class="b-r-4">
<span>{$v.pinyin}</span>{$v['char']}<span class="<?php echo $v['is_lucky']?'jixiong':''; ?>"><?php echo $v['is_lucky']?'吉':''; ?></span>
</a>
</li>
{/loop}
</ul>
</div>
<div class="qiming-list tags-item qiming-margin-remove-bottom" style="width: 100%;">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>五行分类<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">按五行分类男孩常用汉字</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 wuxing">
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/1.html" class="jin" target="_blank">金</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/2.html" class="mu" target="_blank">木</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/3.html" class="shui" target="_blank">水</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/4.html" class="huo" target="_blank">火</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/5.html" class="tu" target="_blank">土</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="card qiming-animation-slide-left-small">
<div class="qiming-grid-medium qiming-mmlist" qiming-grid>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>女孩起名用字排行<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">2026年3月女孩起名用字排行</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
{loop $rankings['girl_chars'] $v}
<li>
<a href="{U('qiming/kxzd/show', 'char='.$v['char'])}" target="_blank" class="b-r-4">
<span>{$v.pinyin}</span>{$v['char']}<span class="<?php echo $v['is_lucky']?'jixiong':''; ?>"><?php echo $v['is_lucky']?'吉':''; ?></span>
</a>
</li>
{/loop}
</ul>
</div>
<div class="qiming-list tags-item qiming-margin-remove-bottom" style="width: 100%;">
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>五行分类<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">按五行分类女孩常用汉字</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 wuxing">
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/6.html" class="jin" target="_blank">金</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/7.html" class="mu" target="_blank">木</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/8.html" class="shui" target="_blank">水</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/9.html" class="huo" target="_blank">火</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/wuxing/10.html" class="tu" target="_blank">土</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="card qiming-animation-slide-left-small">
<div class="qiming-grid-medium qiming-mmlist" qiming-grid>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>男孩热门名字排行<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">2026年3月男孩名字排行</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
{loop $rankings['boy_names'] $v}
<li>
<a href="javascript:void(0);" target="_blank" class="b-r-4">{$v['char_or_name']}</a>
</li>
{/loop}
</ul>
</div>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>百家姓男孩起名<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">百家姓男姓</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/79711.html" title="王姓男孩名字大全" class="sur">王</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/69822.html" title="李姓男孩名字大全" class="sur">李</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/12573.html" title="张姓男孩名字大全" class="sur">张</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/98404.html" title="刘姓男孩名字大全" class="sur">刘</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/81405.html" title="陈姓男孩名字大全" class="sur">陈</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/38766.html" title="杨姓男孩名字大全" class="sur">杨</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/71237.html" title="黄姓男孩名字大全" class="sur">黄</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/97988.html" title="赵姓男孩名字大全" class="sur">赵</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/22479.html" title="吴姓男孩名字大全" class="sur">吴</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nanhai/xing/106010.html" title="周姓男孩名字大全" class="sur">周</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card qiming-animation-slide-left-small">
<div class="qiming-grid-medium qiming-mmlist" qiming-grid>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>女孩热门名字排行<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">2026年3月女孩名字排行</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
{loop $rankings['girl_names'] $v}
<li>
<a href="javascript:void(0);" target="_blank" class="b-r-4">{$v['char_or_name']}</a>
</li>
{/loop}
</ul>
</div>
<div class="fastlink-title b-b qiming-flex qiming-flex-middle qiming-text-bolder">
<i class="iconfont icon-menu">
</i>百家姓女孩起名<span class="qiming-text-muted qiming-margin-small-left qiming-text-small">百家姓女姓</span>
</div>
<div class="qiming-list qmlst tags-item qiming-margin-remove-bottom">
<ul class="btn w5 ">
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/79711.html" title="王姓女孩名字大全" class="sur">王</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/69822.html" title="李姓女孩名字大全" class="sur">李</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/12573.html" title="张姓女孩名字大全" class="sur">张</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/98404.html" title="刘姓女孩名字大全" class="sur">刘</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/81405.html" title="陈姓女孩名字大全" class="sur">陈</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/38766.html" title="杨姓女孩名字大全" class="sur">杨</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/71237.html" title="黄姓女孩名字大全" class="sur">黄</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/97988.html" title="赵姓女孩名字大全" class="sur">赵</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/22479.html" title="吴姓女孩名字大全" class="sur">吴</a>
</li>
<li>
<a target="_blank" href="https://www.qiming.cn/nvhai/xing/106010.html" title="周姓女孩名字大全" class="sur">周</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="qiming-phbf qiming-container qiming-margin-medium-top qiming-margin-bottom-40">
<div class="qiming-title-row">
<div class="m-home-ranking__content__item">
<div class="qiming_title_only">
<div class="item_title qiming-flex">
<a href="https://www.qiming.cn/bazi.html" target="_blank" class="qiming-flex-1">八字起名</a>
<a href="https://www.qiming.cn/bazi.html" target="_blank">
<i class="iconfont icon-arrow-right-bold">
</i>
</a>
</div>
<div class="tab-content" style="">
<div class="tab-pane  fade in active" id="tolist1" style="overflow: hidden;">
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1746243.html" title="八字起名取名的寓意，生辰八字怎么起名字">
<span class="num num1">1</span>八字起名取名的寓意，生辰八字怎么起名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1983644.html" title="八字五行不全，就一定不好吗？">
<span class="num num2">2</span>八字五行不全，就一定不好吗？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1755549.html" title="怎么样根据生辰八字为宝宝起名字">
<span class="num num3">3</span>怎么样根据生辰八字为宝宝起名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1607850.html" title="如何根据生辰八字起名取名">
<span class="num num4">4</span>如何根据生辰八字起名取名</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1792251.html" title="为什么起名要结合生辰八字起名，什么是三才五格呢？">
<span class="num num5">5</span>为什么起名要结合生辰八字起名，什么是三才五格呢？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1699752.html" title="八字五行缺火的人应该怎么起名？">
<span class="num num6">6</span>八字五行缺火的人应该怎么起名？</a>
</div>
</div>
</div>
</div>
</div>
<div class="m-home-ranking__content__item">
<div class="qiming_title_only">
<div class="item_title qiming-flex">
<a href="https://www.qiming.cn/shici.html" target="_blank" class="qiming-flex-1">诗词起名</a>
<a href="https://www.qiming.cn/shici.html" target="_blank">
<i class="iconfont icon-arrow-right-bold">
</i>
</a>
</div>
<div class="tab-content" style="">
<div class="tab-pane  fade in active" id="tolist1" style="overflow: hidden;">
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/176842.html" title=" 如何起一个富含诗意的好名字">
<span class="num num1">1</span>如何起一个富含诗意的好名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1441612.html" title=" 从诗词歌赋谈起名，如何起个好名字 ">
<span class="num num2">2</span>从诗词歌赋谈起名，如何起个好名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1350553.html" title="有哪些适合起名的古诗词？">
<span class="num num3">3</span>有哪些适合起名的古诗词？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1600454.html" title="诗词起名，古诗词中有哪些好听的名字">
<span class="num num4">4</span>诗词起名，古诗词中有哪些好听的名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1149855.html" title="诗词起名，盘点100个出自诗词的好听名字">
<span class="num num5">5</span>诗词起名，盘点100个出自诗词的好听名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1774656.html" title="诗词起名，藏在诗词中的绝美名字">
<span class="num num6">6</span>诗词起名，藏在诗词中的绝美名字</a>
</div>
</div>
</div>
</div>
</div>
<div class="m-home-ranking__content__item">
<div class="qiming_title_only">
<div class="item_title qiming-flex">
<a href="https://www.qiming.cn/zhouyiqiming.html" target="_blank" class="qiming-flex-1">周易起名</a>
<a href="https://www.qiming.cn/zhouyiqiming.html" target="_blank" class="">
<i class="iconfont icon-arrow-right-bold">
</i>
</a>
</div>
<div class="tab-content" style="">
<div class="tab-pane  fade in active" id="tolist1" style="overflow: hidden;">
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1514734.html" title="周易起名，来自周易里的内涵的好名欣赏">
<span class="num num1">1</span>周易起名，来自周易里的内涵的好名欣赏</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1128835.html" title="周易起名：《周易》中那些大气厚重的好听名字">
<span class="num num2">2</span>周易起名：《周易》中那些大气厚重的好听名字</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1347457.html" title="6个出自《易经》的女孩名字，独特且美好">
<span class="num num3">3</span>6个出自《易经》的女孩名字，独特且美好</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1458258.html" title="《周易》经典取名赏析，周易起名">
<span class="num num4">4</span>《周易》经典取名赏析，周易起名</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1821259.html" title="出自易经小众名字，大气且吉利">
<span class="num num5">5</span>出自易经小众名字，大气且吉利</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/1126860.html" title="有哪些出自《易经》且有寓意的名字？">
<span class="num num6">6</span>有哪些出自《易经》且有寓意的名字？</a>
</div>
</div>
</div>
</div>
</div>
<div class="m-home-ranking__content__item">
<div class="qiming_title_only">
<div class="item_title qiming-flex">
<a href="https://www.qiming.cn/zhishi/18.html" target="_blank" class="qiming-flex-1">起名知识</a>
<a href="https://www.qiming.cn/zhishi/18.html" target="_blank" class="">
<i class="iconfont icon-arrow-right-bold">
</i>
</a>
</div>
<div class="tab-content" style="">
<div class="tab-pane  fade in active" id="tolist1" style="overflow: hidden;">
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/197731.html" title="起名常识（如何起个好名字) 2025版">
<span class="num num1">1</span>起名常识（如何起个好名字) 2025版</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/196363.html" title=" 中国人起名有什么讲究？ ">
<span class="num num2">2</span>中国人起名有什么讲究？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/171286.html" title=" 别出心裁，给你一个为孩子起小名的新思路。 ">
<span class="num num3">3</span>别出心裁，给你一个为孩子起小名的新思路。</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/140487.html" title=" 全国最新百家姓排名，看看你的姓氏排第几？ ">
<span class="num num4">4</span>全国最新百家姓排名，看看你的姓氏排第几？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/183378.html" title=" 如何起个好听易记的英文名？ ">
<span class="num num5">5</span>如何起个好听易记的英文名？</a>
</div>
<div class="g_text">
<a target="_blank" href="https://www.qiming.cn/a/176249.html" title="2025年，别再给孩子起这些名字了，重名实在太多了！全国姓名统计报告发布">
<span class="num num6">6</span>2025年，别再给孩子起这些名字了，重名实在太多了！全国姓名统计报告发布</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<div class="cloud-banner qiming-background-cover" style="background-image: url(https://static.qiming.cn/style/qiming/images/qiming-bg2.jpg);">
<div class="cloud-bubble-one">
</div>
<div class="cloud-bubble-two">
</div>
<div class="cloud-bubble-three">
</div>
<div class="product-number-info">
<div class="qiming-container">
<ul class="qiming-clearfix-t">
<li>
<b>
<i>5000万</i>
<sup>+</sup>
</b>
<p>访问总数</p>
</li>
<li>
<b>
<i>2000万</i>
<sup>+</sup>
</b>
<p>名字库收录</p>
</li>
<li>
<b>
<i>560万</i>
<sup>+</sup>
</b>
<p>起名知识</p>
</li>
<li>
<b>
<i>80万</i>
<sup>+</sup>
</b>
<p>起名客户</p>
</li>
<li>
<b>
<i>98%</i>
<sup>+</sup>
</b>
<p>用户满意度</p>
</li>
<li>
<b>
<i>20年</i>
<sup>+</sup>
</b>
<p>运行时间</p>
</li>
</ul>
</div>
</div>
<div class="cloud-bubble-text">已服务数据，客户的信任是我们成长的动力</div>
</div>
<div class="wapnone qiming_follow_service" style="top:75%">
<ul>
<li class="qiming_follow_service_box qiming_follow_service_ax goTop qiming_footer_s">
<a href="#header" class="qiming-display-block" qiming-scroll>
<i class="iconfont icon-direction-up">
</i>
<div class="qiming_follow_service_ax_cont">
<span class="qiming_follow_service_triangle">
</span>
<span>返回顶部</span>
</div>
</a>
</li>
</ul>
</div>
<div class="qiming-app-gotop gotops qiming-hidden@s" id="gotops">
<a href="#header" class="qiming-display-block" qiming-scroll>
<i class="iconfont icon-arrow-up-bold icontop">
</i>
</a>
</div>
<footer class="footer qiming-background-secondary">
<div class="foot qiming-container qiming-padding">
<div class="qiming-grid" qiming-grid>
<div class="qiming-width-1-1@s qiming-width-1-3@xl">
<div class="foot-item foot-item-first qiming-position-relative qiming-flex">
<a href="" target="_blank" class="foot-logo qiming-display-block">
<img src="https://static.qiming.cn/style/qiming/images/logo_foot.png">
</a>
<p class="qiming-text-small">起名网专注科学智能宝宝起名，测名字打分平台，结合传统国学文化的智能起名系统研发和起名学术探索交流，以“只为一个好名字”为宗旨，潜心研发，百次升级，千万级大数据分析，助您轻松起好名。</p>
</div>
</div>
<div class="qiming-width-2-3 qiming-visible@s">
<div class="qiming-grid" qiming-grid>
<div class="qiming-width-1-3">
<div class="foot-item">
<div class="foot-item-title">
<i class="iconfont icon-security">
</i>快捷导航</div>
<ul class="qiming-padding-remove">
<li>
<a href="https://www.qiming.cn/baobao.html" target="_blank">宝宝起名</a>
</li>
<li>
<a href="https://www.qiming.cn/bazi.html" target="_blank">八字起名</a>
</li>
<li>
<a href="https://www.qiming.cn/zhouyiqiming.html" target="_blank">周易起名</a>
</li>
<li>
<a href="https://www.qiming.cn/kxzd/index.html" target="_blank">康熙字典</a>
</li>
<li>
<a href="https://www.qiming.cn/gongsiqiming.html" target="_blank">公司起名</a>
</li>
<li>
<a href="https://www.qiming.cn/xingmingceshi.html" target="_blank">姓名测试</a>
</li>
</ul>
</div>
</div>
<div class="qiming-width-1-3">
<div class="foot-item">
<div class="foot-item-title">
<i class="iconfont icon-security">
</i>关于我们</div>
<ul class="qiming-padding-remove">
<li>
<a href="https://www.qiming.cn/about.html" target="_blank">关于我们</a>
</li>
<li>
<a href="https://www.qiming.cn/service.html" target="_blank">服务条款</a>
</li>
<li>
<a href="https://www.qiming.cn/copyright.html" target="_blank">版权声明</a>
</li>
<li>
<a href="https://www.qiming.cn/busine.html" target="_blank">投诉建议</a>
</li>
</ul>
</div>
</div>
<div class="qiming-width-1-3">
<div class="foot-item">
<div class="foot-item-title">
<i class="iconfont icon-security">
</i>友情链接</div>
<ul class="qiming-padding-remove">
<li>
<a href="https://zidian.qiming.cn/" target="_blank">汉语字典</a>
</li>
<li>
<a href="https://cidian.qiming.cn/" target="_blank">汉语词典</a>
</li>
<li>
<a href="https://chengyu.qiming.cn/" target="_blank">成语大全</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="foot-cop">
<div class="qiming-container qiming-padding-small qiming-clearfix">
<div class="qiming-float-left">
<span>© 2005-2025 <a href="https://www.qiming.cn/" title="起名网" target="_blank">www.qiming.cn</a> &amp; All rights reserved</span>
<a class="qiming-margin-small-right" href="https://www.qiming.cn/" target="_blank">
<i class="iconfont icon-map-filling" aria-hidden="true">
</i>网站地图</a>
<span class="qiming-margin-small-right qiming-gongan">
<img src="https://static.qiming.cn/style/qiming/images/qiming-110.png" height="6">皖公网安备34010402704531号</span>
<span class="qiming-margin-small-right">
<a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a>
</span>
</div>
<div class="qiming-float-right qiming-visible@s">
<span>
<a href="https://www.qiming.cn/" target="_blank">起名网</a>
</span>
</div>
</div>
</div>
</footer>
<link href="https://static.qiming.cn/style/date_c/rui-datepicker.min.css" rel="stylesheet" type="text/css" />
<script src="https://static.qiming.cn/style/layer/layer.js" charset="utf-8"></script>
<script src="https://static.qiming.cn/style/date_c/rui-datepicker.min.js" charset="utf-8"></script>
<script src="https://static.qiming.cn/style/city/jquery.popcity.js" type="text/javascript"></script>
<link href="https://static.qiming.cn/style/city/city.css" rel="stylesheet" type="text/css">
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
<script>
window.AJAX_SUBMIT_ENABLED = false;
function qiming() {
    var surname = document.getElementById('xing').value;
    var sexEls = document.querySelectorAll('input[name="sex"]');
    var sex = 1;
    for (var i = 0; i < sexEls.length; i++) {
        if (sexEls[i].checked) {
            sex = sexEls[i].value;
            break;
        }
    }
    var birthday = document.getElementById('b_input').value;
    if (!surname) {
        alert('请输入姓氏');
        return;
    }
    if (!birthday) {
        alert('请选择出生日期');
        return;
    }
    var form = document.getElementById('homeForm');
    form.submit();
}
</script>
</body>
</html>