<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$seo_title}</title>
    <meta name="keywords" content="男孩起名,男宝宝起名,男孩名字大全,起名网">
    <link rel="canonical" href="https://www.qiming.cn/nanhai.html">
    <meta name="description" content="男孩起名页面为您提供最全面的男孩名字大全，结合八字五行为您提供最适合男宝宝的好名字">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css">
    <script src="https://static.qiming.cn/style/qiming/js/jquery.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/uikit.min.js"></script>
 </head>
<body>
<div class="qiming-background-muted site qiming-zz-background">
    <!-- Header -->
    <header class="header qiming-background-default">
        <div class="navbar qiming-position-relative">
            <div class="qiming-container qiming-flex qiming-flex-middle qiming-position-relative qiming-logo-shou">
                <a href="{U('qiming/index/init')}" class="header-home" qiming-toggle><i class="iconfont icon-menu qiming-text-bolder"></i></a>
                <a href="{U('qiming/index/init')}" class="logo qiming-logo qiming-display-inline-block" alt="起名网">
                    <div class="qiming-logo-nav-night logobg qiming-visible@m"></div>
                    <div class="qiming-app-logo2 logobg2"></div>
                </a>
                <nav class="nav qiming-flex-1 qiming-position-relative">
                    <ul class="nav qiming-flex-1 qiming-margin-remove">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                            <a href="{U('qiming/index/init')}">首页</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/baobao')}">宝宝起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/bazi')}">八字起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/shici')}">诗词起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/gaimingzi')}">成人改名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/ceshi')}">姓名测试</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/gongsi')}">公司起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/zhouyi')}">周易起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/zhishi')}">起名知识</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/kxzd')}">康熙字典</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/baijiaxing')}">百家姓</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-info qiming-flex qiming-flex-middle">
                    <a href="#header-search" class="header-search qiming-navbar-s" qiming-toggle><i class="iconfont icon-search qiming-text-bolder"></i></a>
                    <div id="header-search" qiming-modal>
                        <div class="qiming-tan qiming-modal-dialog qiming-modal-body home-modal qiming-padding-remove qiming-margin-auto-vertical">
                            <button class="qiming-modal-close-default" type="button" qiming-close></button>
                            <div class="b-r-12 qiming-background-default qiming-overflow-hidden qiming-position-relative qiming-padding-30px">
                                <h3>搜索</h3>
                                <div class="search search-navbar">
                                    <form method="get" class="b-r-4 b-a qiming-form qiming-flex qiming-overflow-hidden search-form" action="{U('qiming/index/search')}">
                                        <input type="search" placeholder="查询字、名字或姓名" autocomplete="off" id="k" value="" name="k" required="required" class="qiming-input qiming-flex-1 qiming-text-small">
                                        <i class="iconfont icon-search qiming-text-search"></i>
                                        <input type="hidden" name="formType" id="searchType" value="header">
                                    </form>
                                </div>
                                <div class="header-btn-search">
                                    <div class="header-btn-search-s qiming-dt change-color btn-search-all">立即搜索</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Banner -->
    <div class="qiming_vipbgs">
        <img src="https://static.qiming.cn/style/qiming/images/nanhaiBanner.jpg" style="width: 100%;">
    </div>
    
    <!-- Main Content -->
    <div class="qiming-container" id="page-content">
        <!-- Form Section -->
        <div class="qiming-pages-vip">
            <div class="qiming_portal_block_summary">
                <div class="formGsQm">
                    <h1>男孩起名</h1>
                    <p>为男宝宝起一个吉祥、响亮、有内涵的好名字</p>
                    <form method="get" action="{U('qiming/index/result')}">
                        <div class="two_bd flex spb dsbl">
                            <div class="list_bd">
                                <input type="text" id="xing" name="surname" size="6" placeholder="请输入宝宝的姓氏" maxlength="1" required>
                                <div class="sexSelect">
                                    <span class="active">男</span>
                                </div>
                                <input class="sexInput" id="sex" name="gender" type="hidden" value="1">
                            </div>
                            <div class="list_bd">
                                <input type="date" id="birthday" name="birthdate" class="J_datepicker input-birthday" placeholder="请选择出生日期" required>
                                <img src="https://static.qiming.cn/style/qiming/images/xl.png" alt="">
                            </div>
                            <div class="list_bd bfb">
                                <input type="text" name="birth_address" id="cs" class="cs" placeholder="选择出生地" readonly>
                                <img src="https://static.qiming.cn/style/qiming/images/xl.png" alt="">
                            </div>
                        </div>
                        <input type="hidden" name="type" id="type" value="bbqm">
                        <a class="qmbtn" href="javascript:;" onclick="this.parentElement.submit();">立即起名</a>
                        <div class="lunpan_box">
                            <div class="lunpan">
                                <img src="https://static.qiming.cn/style/qiming/images/luopan.png">
                                <img src="https://static.qiming.cn/style/qiming/images/zhizheng.png">
                            </div>
                            <div class="lunpan_color"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Chars Section -->
        <section class="qiming-container qiming-margin-medium-bottom qiming-margin-top-20">
            <div class="qiming-background-default qiming-padding-app qiming-margin-medium-bottom">
                <h2 class="apply">男孩起名常用字</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=圣" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">圣</span>
                            <span class="qiming-text-small qiming-text-muted">shèng</span>
                            <span class="qiming-text-small qiming-text-default">吉祥智慧</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=杰" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">杰</span>
                            <span class="qiming-text-small qiming-text-muted">jié</span>
                            <span class="qiming-text-small qiming-text-default">杰出才能</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=浩" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">浩</span>
                            <span class="qiming-text-small qiming-text-muted">hào</span>
                            <span class="qiming-text-small qiming-text-default">浩大广阔</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=旭" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">旭</span>
                            <span class="qiming-text-small qiming-text-muted">xù</span>
                            <span class="qiming-text-small qiming-text-default">旭日朝阳</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=尧" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">尧</span>
                            <span class="qiming-text-small qiming-text-muted">yáo</span>
                            <span class="qiming-text-small qiming-text-default">高远圣明</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=俊" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">俊</span>
                            <span class="qiming-text-small qiming-text-muted">jùn</span>
                            <span class="qiming-text-small qiming-text-default">俊秀美好</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=天" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">天</span>
                            <span class="qiming-text-small qiming-text-muted">tiān</span>
                            <span class="qiming-text-small qiming-text-default">天空自然</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=磊" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">磊</span>
                            <span class="qiming-text-small qiming-text-muted">lěi</span>
                            <span class="qiming-text-small qiming-text-default">光明坦荡</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=伟" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">伟</span>
                            <span class="qiming-text-small qiming-text-muted">wěi</span>
                            <span class="qiming-text-small qiming-text-default">伟大卓越</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=博" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">博</span>
                            <span class="qiming-text-small qiming-text-muted">bó</span>
                            <span class="qiming-text-small qiming-text-default">博学宽广</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Names Section -->
        <section class="qiming-container qiming-margin-medium-bottom">
            <div class="qiming-background-default qiming-padding-app">
                <h2 class="apply">男孩热门名字</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">颜豪</div>
                            <div class="qiming-text-small qiming-text-primary">yán háo</div>
                            <div class="qiming-text-small qiming-text-muted">勇敢、豪迈</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">颢凯</div>
                            <div class="qiming-text-small qiming-text-primary">hào kǎi</div>
                            <div class="qiming-text-small qiming-text-muted">光明、胜利</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">颢宁</div>
                            <div class="qiming-text-small qiming-text-primary">hào níng</div>
                            <div class="qiming-text-small qiming-text-muted">光明、安宁</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">璟桓</div>
                            <div class="qiming-text-small qiming-text-primary">jǐng huán</div>
                            <div class="qiming-text-small qiming-text-muted">美玉、永恒</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">梓翔</div>
                            <div class="qiming-text-small qiming-text-primary">zǐ xiáng</div>
                            <div class="qiming-text-small qiming-text-muted">梓树、飞翔</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">铭灏</div>
                            <div class="qiming-text-small qiming-text-primary">míng hào</div>
                            <div class="qiming-text-small qiming-text-muted">铭记、广阔</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">俊灏</div>
                            <div class="qiming-text-small qiming-text-primary">jùn hào</div>
                            <div class="qiming-text-small qiming-text-muted">俊秀、广阔</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">昊然</div>
                            <div class="qiming-text-small qiming-text-primary">hào rán</div>
                            <div class="qiming-text-small qiming-text-muted">广大、坦然</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">旭尧</div>
                            <div class="qiming-text-small qiming-text-primary">xù yáo</div>
                            <div class="qiming-text-small qiming-text-muted">旭日、高远</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">志豪</div>
                            <div class="qiming-text-small qiming-text-primary">zhì háo</div>
                            <div class="qiming-text-small qiming-text-muted">志向、豪迈</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Surname Section -->
        <section class="qiming-container qiming-margin-bottom-40">
            <div class="qiming-background-default qiming-padding-app">
                <h2 class="apply">男孩起名 - 百家姓</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=王" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">王</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=李" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">李</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=张" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">张</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=刘" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">刘</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=陈" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">陈</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=杨" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">杨</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=赵" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">赵</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=黄" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">黄</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=周" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">周</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=吴" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">吴</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="qiming_follow_service" style="top:75%">
        <ul>
            <li class="qiming_follow_service_box qiming_follow_service_ax goTop qiming_footer_s">
                <a href="#header" class="qiming-display-block" qiming-scroll><i class="iconfont icon-direction-up"></i>
                    <div class="qiming_follow_service_ax_cont">
                        <span class="qiming_follow_service_triangle"></span>
                        <span>返回顶部</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="qiming-app-gotop gotops qiming-hidden@s" id="gotops">
        <a href="#header" class="qiming-display-block" qiming-scroll><i class="iconfont icon-arrow-up-bold icontop"></i></a>
    </div>
    
    <!-- Footer -->
    <footer class="footer qiming-background-secondary">
        <div class="foot qiming-container qiming-padding">
            <div class="qiming-grid" qiming-grid>
                <div class="qiming-width-1-1@s qiming-width-1-3@xl">
                    <div class="foot-item foot-item-first qiming-position-relative qiming-flex">
                        <a href="{U('qiming/index/init')}" target="_blank" class="foot-logo qiming-display-block">
                            <img src="https://static.qiming.cn/style/qiming/images/logo_foot.png" alt="起名网">
                        </a>
                        <p class="qiming-text-small" style="color: #ccc; line-height: 1.8;">起名网专注科学智能宝宝起名，测名字打分平台，结合传统国学文化的智能起名系统研发和起名学术探索交流，以"只为一个好名字"为宗旨，潜心研发，百次升级，千万级大数据分析，助您轻松起好名。</p>
                    </div>
                </div>
                <div class="qiming-width-2-3 qiming-visible@">
                    <div class="qiming-grid" qiming-grid>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>快捷导航</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/baobao')}">宝宝起名</a></li>
                                    <li><a href="{U('qiming/index/bazi')}">八字起名</a></li>
                                    <li><a href="{U('qiming/index/zhouyi')}">周易起名</a></li>
                                    <li><a href="{U('qiming/index/kxzd')}">康熙字典</a></li>
                                    <li><a href="{U('qiming/index/gongsi')}">公司起名</a></li>
                                    <li><a href="{U('qiming/index/ceshi')}">姓名测试</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>关于我们</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/about')}">关于我们</a></li>
                                    <li><a href="{U('qiming/index/service')}">服务条款</a></li>
                                    <li><a href="{U('qiming/index/copyright')}">版权声明</a></li>
                                    <li><a href="{U('qiming/index/busine')}">投诉建议</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-link"></i>友情链接</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="https://zidian.qiming.cn/" target="_blank">汉语字典</a></li>
                                    <li><a href="https://cidian.qiming.cn/" target="_blank">汉语词典</a></li>
                                    <li><a href="https://chengyu.qiming.cn/" target="_blank">成语大全</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-cop">
            <div class="qiming-container qiming-padding-small qiming-clearfix">
                <div class="qiming-float-left">
                    <span>&copy; 2005-2025 <a href="https://www.qiming.cn" target="_blank">www.qiming.cn</a> & All rights reserved</span>
                    <a class="qiming-margin-small-right" href="{U('qiming/index/sitemap')}" target="_blank"><i class="iconfont icon-map-filling" aria-hidden="true"></i>网站地图</a>
                    <span class="qiming-margin-small-right qiming-gongan">
                        <img src="https://static.qiming.cn/style/qiming/images/qiming-110.png" height="6">皖公网安备34010402704531号
                    </span>
                    <span class="qiming-margin-small-right"><a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a></span>
                </div>
                <div class="qiming-float-right qiming-visible@">
                    <span><a href="https://www.qiming.cn" target="_blank">起名网</a></span>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://static.qiming.cn/style/layer/layer.js" charset="utf-8"></script>
    <script src="https://static.qiming.cn/style/date_c/rui-datepicker.min.js" charset="utf-8"></script>
    <script src="https://static.qiming.cn/style/city/jquery.popcity.js" type="text/javascript"></script>
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
    <script>
        // Sex selection
        document.querySelectorAll('.sexSelect span').forEach(function(span) {
            span.addEventListener('click', function() {
                document.querySelectorAll('.sexSelect span').forEach(s => s.classList.remove('active'));
                this.classList.add('active');
                var sexValue = this.textContent === '男' ? '1' : (this.textContent === '女' ? '2' : '3');
                document.getElementById('sex').value = sexValue;
            });
        });
    </script>
</div>
</body>
</html>