<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$seo_title}</title>
    <meta name="keywords" content="女孩起名,女宝宝起名,女孩名字大全,起名网">
    <link rel="canonical" href="https://www.qiming.cn/nvhai.html">
    <meta name="description" content="女孩起名页面为您提供最全面的女孩名字大全，结合八字五行为您提供最适合女宝宝的好名字">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css">
    <script src="https://static.qiming.cn/style/qiming/js/jquery.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/uikit.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
 </head>
<body>
<div class="qiming-background-muted site qiming-zz-background">
    <!-- Header -->
    <header class="header qiming-background-default">
        <div class="navbar qiming-position-relative">
            <div class="qiming-container qiming-flex qiming-flex-middle qiming-position-relative qiming-logo-shou">
                <a href="{U('qiming/index/init')}" class="header-home" qiming-toggle><i class="iconfont icon-menu qiming-text-bolder"></i></a>
                <a href="{U('qiming/index/init')}" class="logo qiming-logo qiming-display-inline-block" alt="起名网">
                    <div class="qiming-logo-nav-night logobg qiming-visible@m"></div>
                    <div class="qiming-app-logo2 logobg2"></div>
                </a>
                <nav class="nav qiming-flex-1 qiming-position-relative">
                    <ul class="nav qiming-flex-1 qiming-margin-remove">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                            <a href="{U('qiming/index/init')}">首页</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/baobao')}">宝宝起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/bazi')}">八字起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/shici')}">诗词起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/gaimingzi')}">成人改名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/ceshi')}">姓名测试</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/gongsi')}">公司起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/zhouyi')}">周易起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/zhishi')}">起名知识</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/kxzd')}">康熙字典</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                            <a href="{U('qiming/index/baijiaxing')}">百家姓</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-info qiming-flex qiming-flex-middle">
                    <a href="#header-search" class="header-search qiming-navbar-s" qiming-toggle><i class="iconfont icon-search qiming-text-bolder"></i></a>
                    <div id="header-search" qiming-modal>
                        <div class="qiming-tan qiming-modal-dialog qiming-modal-body home-modal qiming-padding-remove qiming-margin-auto-vertical">
                            <button class="qiming-modal-close-default" type="button" qiming-close></button>
                            <div class="b-r-12 qiming-background-default qiming-overflow-hidden qiming-position-relative qiming-padding-30px">
                                <h3>搜索</h3>
                                <div class="search search-navbar">
                                    <form method="get" class="b-r-4 b-a qiming-form qiming-flex qiming-overflow-hidden search-form" action="{U('qiming/index/search')}">
                                        <input type="search" placeholder="查询字、名字或姓名" autocomplete="off" id="k" value="" name="k" required="required" class="qiming-input qiming-flex-1 qiming-text-small">
                                        <i class="iconfont icon-search qiming-text-search"></i>
                                        <input type="hidden" name="formType" id="searchType" value="header">
                                    </form>
                                </div>
                                <div class="header-btn-search">
                                    <div class="header-btn-search-s qiming-dt change-color btn-search-all">立即搜索</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Banner -->
    <div class="qiming_vipbgs">
        <img src="https://static.qiming.cn/style/qiming/images/nvhaiBanner.jpg" style="width: 100%;">
    </div>
    
    <!-- Main Content -->
    <div class="qiming-container" id="page-content">
        <!-- Form Section -->
        <div class="qiming-pages-vip">
            <div class="qiming_portal_block_summary">
                <div class="formGsQm">
                    <h1>女孩起名</h1>
                    <p>为女宝宝起一个优雅、甜美、有内涵的好名字</p>
                    <form method="get" action="{U('qiming/index/result')}">
                        <div class="two_bd flex spb dsbl">
                            <div class="list_bd">
                                <input type="text" id="xing" name="surname" size="6" placeholder="请输入宝宝的姓氏" maxlength="1" required>
                                <div class="sexSelect">
                                    <span class="">男</span>
                                    <span class="active">女</span>
                                </div>
                                <input class="sexInput" id="sex" name="gender" type="hidden" value="2">
                            </div>
                            <div class="list_bd">
                                <input type="date" id="birthday" name="birthdate" class="J_datepicker input-birthday" placeholder="请选择出生日期" required>
                                <img src="https://static.qiming.cn/style/qiming/images/xl.png" alt="">
                            </div>
                            <div class="list_bd bfb">
                                <input type="text" name="birth_address" id="cs" class="cs" placeholder="选择出生地" readonly>
                                <img src="https://static.qiming.cn/style/qiming/images/xl.png" alt="">
                            </div>
                        </div>
                        <input type="hidden" name="type" id="type" value="bbqm">
                        <a class="qmbtn" href="javascript:;" onclick="this.parentElement.submit();">立即起名</a>
                        <div class="lunpan_box">
                            <div class="lunpan">
                                <img src="https://static.qiming.cn/style/qiming/images/luopan.png">
                                <img src="https://static.qiming.cn/style/qiming/images/zhizheng.png">
                            </div>
                            <div class="lunpan_color"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Chars Section -->
        <section class="qiming-container qiming-margin-medium-bottom qiming-margin-top-20">
            <div class="qiming-background-default qiming-padding-app qiming-margin-medium-bottom">
                <h2 class="apply">女孩起名常用字</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=瑾" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">瑾</span>
                            <span class="qiming-text-small qiming-text-muted">jǐn</span>
                            <span class="qiming-text-small qiming-text-default">美德珍贵</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=楠" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">楠</span>
                            <span class="qiming-text-small qiming-text-muted">nán</span>
                            <span class="qiming-text-small qiming-text-default">坚韧贵重</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=莹" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">莹</span>
                            <span class="qiming-text-small qiming-text-muted">yíng</span>
                            <span class="qiming-text-small qiming-text-default">光洁透明</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=雪" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">雪</span>
                            <span class="qiming-text-small qiming-text-muted">xuě</span>
                            <span class="qiming-text-small qiming-text-default">纯洁高雅</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=晗" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">晗</span>
                            <span class="qiming-text-small qiming-text-muted">hán</span>
                            <span class="qiming-text-small qiming-text-default">天明期待</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=琴" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">琴</span>
                            <span class="qiming-text-small qiming-text-muted">qín</span>
                            <span class="qiming-text-small qiming-text-default">才华美德</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=晴" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">晴</span>
                            <span class="qiming-text-small qiming-text-muted">qíng</span>
                            <span class="qiming-text-small qiming-text-default">晴朗开朗</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=婷" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">婷</span>
                            <span class="qiming-text-small qiming-text-muted">tíng</span>
                            <span class="qiming-text-small qiming-text-default">优美雅致</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=瑶" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">瑶</span>
                            <span class="qiming-text-small qiming-text-muted">yáo</span>
                            <span class="qiming-text-small qiming-text-default">美玉珍贵</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=薇" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">薇</span>
                            <span class="qiming-text-small qiming-text-muted">wēi</span>
                            <span class="qiming-text-small qiming-text-default">蔷薇坚强</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=萱" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">萱</span>
                            <span class="qiming-text-small qiming-text-muted">xuān</span>
                            <span class="qiming-text-small qiming-text-default">忘忧美好</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=雅" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">雅</span>
                            <span class="qiming-text-small qiming-text-muted">yǎ</span>
                            <span class="qiming-text-small qiming-text-default">高雅文雅</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=欣" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">欣</span>
                            <span class="qiming-text-small qiming-text-muted">xīn</span>
                            <span class="qiming-text-small qiming-text-default">欣喜快乐</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=怡" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">怡</span>
                            <span class="qiming-text-small qiming-text-muted">yí</span>
                            <span class="qiming-text-small qiming-text-default">和悦愉快</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="{U('qiming/index/kxzd')}?char=琳" class="char-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-display-block qiming-text-bold qiming-text-large qiming-text-primary">琳</span>
                            <span class="qiming-text-small qiming-text-muted">lín</span>
                            <span class="qiming-text-small qiming-text-default">美玉出众</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Names Section -->
        <section class="qiming-container qiming-margin-medium-bottom">
            <div class="qiming-background-default qiming-padding-app">
                <h2 class="apply">女孩热门名字</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">颜菲</div>
                            <div class="qiming-text-small qiming-text-primary">yán fēi</div>
                            <div class="qiming-text-small qiming-text-muted">美丽、芳香</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">孟馨</div>
                            <div class="qiming-text-small qiming-text-primary">mèng xīn</div>
                            <div class="qiming-text-small qiming-text-muted">温馨、芳香</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">宁丽</div>
                            <div class="qiming-text-small qiming-text-primary">níng lì</div>
                            <div class="qiming-text-small qiming-text-muted">安宁、美丽</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">宁萱</div>
                            <div class="qiming-text-small qiming-text-primary">níng xuān</div>
                            <div class="qiming-text-small qiming-text-muted">安宁、忘忧</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">宇妍</div>
                            <div class="qiming-text-small qiming-text-primary">yǔ yán</div>
                            <div class="qiming-text-small qiming-text-muted">宇宙、美丽</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">宇婷</div>
                            <div class="qiming-text-small qiming-text-primary">yǔ tíng</div>
                            <div class="qiming-text-small qiming-text-muted">宇宙、优美</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">梓怡</div>
                            <div class="qiming-text-small qiming-text-primary">zǐ yí</div>
                            <div class="qiming-text-small qiming-text-muted">梓树、愉快</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">熙媛</div>
                            <div class="qiming-text-small qiming-text-primary">xī yuàn</div>
                            <div class="qiming-text-small qiming-text-muted">光明、媛女</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">歆萌</div>
                            <div class="qiming-text-small qiming-text-primary">xīn méng</div>
                            <div class="qiming-text-small qiming-text-muted">喜爱、萌芽</div>
                        </a>
                    </div>
                    <div class="qiming-width-1-5@xl qiming-width-1-4@l qiming-width-1-2@m">
                        <a href="#" class="name-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <div class="qiming-text-bold qiming-text-large">芷佩</div>
                            <div class="qiming-text-small qiming-text-primary">zhǐ pèi</div>
                            <div class="qiming-text-small qiming-text-muted">香草、佩戴</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Surname Section -->
        <section class="qiming-container qiming-margin-bottom-40">
            <div class="qiming-background-default qiming-padding-app">
                <h2 class="apply">女孩起名 - 百家姓</h2>
                <div class="qiming-grid qiming-margin-top-20" qiming-grid>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=王" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">王</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=李" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">李</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=张" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">张</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=刘" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">刘</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=陈" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">陈</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=杨" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">杨</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=赵" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">赵</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=黄" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">黄</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=周" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">周</span>
                        </a>
                    </div>
                    <div class="qiming-width-1-10@xl qiming-width-1-8@l qiming-width-1-5@m">
                        <a href="{U('qiming/index/baijiaxing')}?surname=吴" class="surname-item qiming-display-block qiming-text-center qiming-padding-small qiming-background-muted qiming-margin-bottom-small b-r-4">
                            <span class="qiming-text-bold qiming-text-large">吴</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="qiming_follow_service" style="top:75%">
        <ul>
            <li class="qiming_follow_service_box qiming_follow_service_ax goTop qiming_footer_s">
                <a href="#header" class="qiming-display-block" qiming-scroll><i class="iconfont icon-direction-up"></i>
                    <div class="qiming_follow_service_ax_cont">
                        <span class="qiming_follow_service_triangle"></span>
                        <span>返回顶部</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="qiming-app-gotop gotops qiming-hidden@s" id="gotops">
        <a href="#header" class="qiming-display-block" qiming-scroll><i class="iconfont icon-arrow-up-bold icontop"></i></a>
    </div>
    
    <!-- Footer -->
    <footer class="footer qiming-background-secondary">
        <div class="foot qiming-container qiming-padding">
            <div class="qiming-grid" qiming-grid>
                <div class="qiming-width-1-1@s qiming-width-1-3@xl">
                    <div class="foot-item foot-item-first qiming-position-relative qiming-flex">
                        <a href="{U('qiming/index/init')}" target="_blank" class="foot-logo qiming-display-block">
                            <img src="https://static.qiming.cn/style/qiming/images/logo_foot.png" alt="起名网">
                        </a>
                        <p class="qiming-text-small" style="color: #ccc; line-height: 1.8;">起名网专注科学智能宝宝起名，测名字打分平台，结合传统国学文化的智能起名系统研发和起名学术探索交流，以"只为一个好名字"为宗旨，潜心研发，百次升级，千万级大数据分析，助您轻松起好名。</p>
                    </div>
                </div>
                <div class="qiming-width-2-3 qiming-visible@">
                    <div class="qiming-grid" qiming-grid>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>快捷导航</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/baobao')}">宝宝起名</a></li>
                                    <li><a href="{U('qiming/index/bazi')}">八字起名</a></li>
                                    <li><a href="{U('qiming/index/zhouyi')}">周易起名</a></li>
                                    <li><a href="{U('qiming/index/kxzd')}">康熙字典</a></li>
                                    <li><a href="{U('qiming/index/gongsi')}">公司起名</a></li>
                                    <li><a href="{U('qiming/index/ceshi')}">姓名测试</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>关于我们</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/about')}">关于我们</a></li>
                                    <li><a href="{U('qiming/index/service')}">服务条款</a></li>
                                    <li><a href="{U('qiming/index/copyright')}">版权声明</a></li>
                                    <li><a href="{U('qiming/index/busine')}">投诉建议</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-link"></i>友情链接</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="https://zidian.qiming.cn/" target="_blank">汉语字典</a></li>
                                    <li><a href="https://cidian.qiming.cn/" target="_blank">汉语词典</a></li>
                                    <li><a href="https://chengyu.qiming.cn/" target="_blank">成语大全</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-cop">
            <div class="qiming-container qiming-padding-small qiming-clearfix">
                <div class="qiming-float-left">
                    <span>&copy; 2005-2025 <a href="https://www.qiming.cn" target="_blank">www.qiming.cn</a> & All rights reserved</span>
                    <a class="qiming-margin-small-right" href="{U('qiming/index/sitemap')}" target="_blank"><i class="iconfont icon-map-filling" aria-hidden="true"></i>网站地图</a>
                    <span class="qiming-margin-small-right qiming-gongan">
                        <img src="https://static.qiming.cn/style/qiming/images/qiming-110.png" height="6">皖公网安备34010402704531号
                    </span>
                    <span class="qiming-margin-small-right"><a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a></span>
                </div>
                <div class="qiming-float-right qiming-visible@">
                    <span><a href="https://www.qiming.cn" target="_blank">起名网</a></span>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://static.qiming.cn/style/layer/layer.js" charset="utf-8"></script>
    <script src="https://static.qiming.cn/style/date_c/rui-datepicker.min.js" charset="utf-8"></script>
    <script src="https://static.qiming.cn/style/city/jquery.popcity.js" type="text/javascript"></script>
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
    <script>
        // Sex selection
        document.querySelectorAll('.sexSelect span').forEach(function(span) {
            span.addEventListener('click', function() {
                document.querySelectorAll('.sexSelect span').forEach(s => s.classList.remove('active'));
                this.classList.add('active');
                var sexValue = this.textContent === '男' ? '1' : (this.textContent === '女' ? '2' : '3');
                document.getElementById('sex').value = sexValue;
            });
        });
    </script>
</div>
</body>
</html>