<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$seo_title}</title>
    <meta name="keywords" content="起名知识,起名常识,八字知识,起名网">
    <meta name="description" content="起名知识频道为您提供专业的起名常识、八字知识、诗词起名等相关文章，帮助您科学地为宝宝起名">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/font/iconfont.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/uikit.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/diy.css">
    <link rel="stylesheet" href="https://static.qiming.cn/style/qiming/css/qiming.css">
    <script src="https://static.qiming.cn/style/qiming/js/jquery.min.js"></script>
    <script src="https://static.qiming.cn/style/qiming/js/uikit.min.js"></script>
</head>
<body class="qiming-background-muted site qiming-zz-background">
    <header class="header qiming-background-default">
        <div class="navbar qiming-position-relative">
            <div class="qiming-container qiming-flex qiming-flex-middle qiming-position-relative qiming-logo-shou">
                <a href="{U('qiming/index/init')}" class="header-home" qiming-toggle>
                    <i class="iconfont icon-menu qiming-text-bolder"></i>
                </a>
                <a href="{U('qiming/index/init')}" class="logo qiming-logo qiming-display-inline-block" alt="起名网">
                    <div class="qiming-logo-nav-night logobg qiming-visible@m"></div>
                    <div class="qiming-app-logo2 logobg2"></div>
                </a>
                <nav class="nav qiming-flex-1 qiming-position-relative">
                    <ul class="nav qiming-flex-1 qiming-margin-remove">
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/init')}">首页</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/baobao')}">宝宝起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/bazi')}">八字起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/shici')}">诗词起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/gaimingzi')}">成人改名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/ceshi')}">姓名测试</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/gongsi')}">公司起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/zhouyi')}">周易起名</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/zhishi')}">起名知识</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/kxzd')}">康熙字典</a>
                        </li>
                        <li class="menu-item menu-item-type-custom">
                            <a href="{U('qiming/index/baijiaxing')}">百家姓</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-info qiming-flex qiming-flex-middle">
                    <a href="#header-search" class="header-search qiming-navbar-s" qiming-toggle>
                        <i class="iconfont icon-search qiming-text-bolder"></i>
                    </a>
                    <div id="header-search" qiming-modal>
                        <div class="qiming-tan qiming-modal-dialog qiming-modal-body home-modal qiming-padding-remove qiming-margin-auto-vertical">
                            <button class="qiming-modal-close-default" type="button" qiming-close></button>
                            <div class="b-r-12 qiming-background-default qiming-overflow-hidden qiming-position-relative qiming-padding-30px">
                                <h3>搜索</h3>
                                <div class="search search-navbar">
                                    <form method="get" class="b-r-4 b-a qiming-form qiming-flex qiming-overflow-hidden search-form" action="{U('qiming/index/search')}">
                                        <input type="search" placeholder="查询字、名字或姓名" autocomplete="off" id="k" value="" name="k" required="required" class="qiming-input qiming-flex-1 qiming-text-small">
                                        <i class="iconfont icon-search qiming-text-search"></i>
                                        <input type="hidden" name="formType" id="searchType" value="header">
                                    </form>
                                </div>
                                <div class="header-btn-search">
                                    <div class="header-btn-search-s qiming-dt change-color btn-search-all">立即搜索</div>
                                </div>
                                <div class="tags-item qiming-margin-top">
                                    <p class="qiming-margin-small-bottom qiming-text-small">搜索最多的：</p>
                                    <a href="{U('qiming/index/kxzd')}?char=雪" class="tag-cloud-link tag-link-128 tag-link-position-1">雪</a>
                                    <a href="{U('qiming/index/kxzd')}?char=旭" class="tag-cloud-link tag-link-128 tag-link-position-1">旭</a>
                                    <a href="#" class="tag-cloud-link tag-link-128 tag-link-position-1">信川</a>
                                    <a href="#" class="tag-cloud-link tag-link-128 tag-link-position-1">煜晨</a>
                                </div>
                            </div>
                            <div class="home-modal-bottom">
                                <ul>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="qiming_vipbgs">
        <img src="https://static.qiming.cn/style/qiming/images/zhishiBanner.jpg" style="width: 100%;">
    </div>
    
    <div class="qiming-container" id="page-content">
        <section class="qiming-container qiming-margin-medium-bottom qiming-margin-top-20 qiming-qqqun-row">
            <div class="qiming-container">
                <div class="qiming-background-default qiming-padding-app qiming-margin-medium-bottom qiming-margin-top-20">
                    <h2 class="apply">起名知识：专业的起名知识文章，帮助您科学地为宝宝起一个好名字</h2>
                </div>
            </div>
        </section>
        
        <div class="yuvip_serve_father">
            <h3 class="yuvip_title">知识分类</h3>
            <div class="yuvip_serve">
                <ul>
                    <li>
                        <div>
                            <p>起名常识</p>
                            <em>了解起名的基本原则和注意事项</em>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>八字知识</p>
                            <em>深入了解生辰八字与五行分析</em>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>诗词起名</p>
                            <em>从唐诗宋词中汲取起名灵感</em>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>周易起名</p>
                            <em>易经智慧与起名艺术的结合</em>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <section class="blog">
            <div class="qiming-container qiming-margin-medium-top qiming-margin-bottom-40">
                <div class="section-title qiming-flex qiming-flex-middle">
                    <i class="iconfont icon-file-common qiming-icon-index"></i>
                    <h3 class="qiming-display-inline-block qiming-margin-remove">最新文章</h3>
                </div>
                <div class="qiming-grid qiming-margin-top-30" qiming-grid>
                    <div class="qiming-width-1-1@s qiming-width-1-2@m qiming-width-1-2@l qiming-width-1-2@xl">
                        <div class="blog-item b-r-4 qiming-padding-small qiming-background-default qiming-overflow-hidden">
                            <div class="qiming-grid-collapse" qiming-grid>
                                <div class="qiming-width-1-1@s qiming-width-2-5@m qiming-width-2-5@l qiming-width-2-5@xl qiming-vip-icons">
                                    <a href="#" class="cover b-r-4 qiming-display-block qiming-overflow-hidden">
                                        <img src="https://static.qiming.cn/upload/upimg/0919/1758256277595861.jpg" alt="宝宝起名别跟风">
                                    </a>
                                </div>
                                <div class="qiming-width-1-1@s qiming-width-3-5@m qiming-width-3-5@l qiming-width-3-5@xl">
                                    <div class="qiming-cat-blog blog-item-content">
                                        <div class="qiming-blog-items">
                                            <h3 class="qiming-text-truncate">
                                                <a href="#" class="title qiming-h4">宝宝起名别跟风！8个独特技巧，让名字跳出"重名魔咒"</a>
                                            </h3>
                                            <p class="qiming-text-small">大家有没有发现，每次去医院或者学校，总能碰到几个孩子叫子涵、梓涵、紫轩、宇轩这样的名字？</p>
                                        </div>
                                        <div class="item-foot">
                                            <div class="cat qiming-margin-bottom-10 qiming-margin-top-10 qiming-text-truncate">
                                                <a href="#"><i class="iconfont icon-menu qiming-right-3 arttag"></i>宝宝起名</a>
                                            </div>
                                            <div class="qiming-flex qiming-flex-middle">
                                                <div class="avatar qiming-flex-1 qiming-flex qiming-flex-middle">
                                                    <img src='https://static.qiming.cn/style/qiming/images/avatar.jpg' class='avatar avatar-20 photo' height='20' width='20'>
                                                    <span class="qiming-text-small qiming-display-block qiming-margin-small-left">清飞扬</span>
                                                </div>
                                                <div class="qiming-text-small qiming-text-right">
                                                    <span class="qiming-display-inline-block qiming-flex qiming-flex-middle qiming-margin-right-6">
                                                        <i class="iconfont icon-time"></i>09-19
                                                    </span>
                                                    <span class="qiming-display-inline-block qiming-flex qiming-flex-middle">
                                                        <i class="iconfont icon-browse"></i>244
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qiming-width-1-1@s qiming-width-1-2@m qiming-width-1-2@l qiming-width-1-2@xl">
                        <div class="blog-item b-r-4 qiming-padding-small qiming-background-default qiming-overflow-hidden">
                            <div class="qiming-grid-collapse" qiming-grid>
                                <div class="qiming-width-1-1@s qiming-width-2-5@m qiming-width-2-5@l qiming-width-2-5@xl qiming-vip-icons">
                                    <a href="#" class="cover b-r-4 qiming-display-block qiming-overflow-hidden">
                                        <img src="https://static.qiming.cn/upload/upimg/0919/1758244202109391.jpg" alt="宝宝起名新解">
                                    </a>
                                </div>
                                <div class="qiming-width-1-1@s qiming-width-3-5@m qiming-width-3-5@l qiming-width-3-5@xl">
                                    <div class="qiming-cat-blog blog-item-content">
                                        <div class="qiming-blog-items">
                                            <h3 class="qiming-text-truncate">
                                                <a href="#" class="title qiming-h4">宝宝起名新解，一个好名字可能给宝宝的将来带来良好的影响</a>
                                            </h3>
                                            <p class="qiming-text-small">一个好名字可能给宝宝的将来带来良好的影响，甚至有可能会受益一生...</p>
                                        </div>
                                        <div class="item-foot">
                                            <div class="cat qiming-margin-bottom-10 qiming-margin-top-10 qiming-text-truncate">
                                                <a href="#"><i class="iconfont icon-menu qiming-right-3 arttag"></i>宝宝起名</a>
                                            </div>
                                            <div class="qiming-flex qiming-flex-middle">
                                                <div class="avatar qiming-flex-1 qiming-flex qiming-flex-middle">
                                                    <img src='https://static.qiming.cn/style/qiming/images/avatar.jpg' class='avatar avatar-20 photo' height='20' width='20'>
                                                    <span class="qiming-text-small qiming-display-block qiming-margin-small-left">清飞扬</span>
                                                </div>
                                                <div class="qiming-text-small qiming-text-right">
                                                    <span class="qiming-display-inline-block qiming-flex qiming-flex-middle qiming-margin-right-6">
                                                        <i class="iconfont icon-time"></i>09-19
                                                    </span>
                                                    <span class="qiming-display-inline-block qiming-flex qiming-flex-middle">
                                                        <i class="iconfont icon-browse"></i>208
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
        <div class="wapnone qiming_follow_service" style="top:75%">
            <ul>
                <li class="qiming_follow_service_box qiming_follow_service_ax goTop qiming_footer_s">
                    <a href="#header" class="qiming-display-block" qiming-scroll>
                        <i class="iconfont icon-direction-up"></i>
                        <div class="qiming_follow_service_ax_cont">
                            <span class="qiming_follow_service_triangle"></span>
                            <span>返回顶部</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="qiming-app-gotop gotops qiming-hidden@s" id="gotops">
            <a href="#header" class="qiming-display-block" qiming-scroll>
                <i class="iconfont icon-arrow-up-bold icontop"></i>
            </a>
        </div>
    </div>
    
    <footer class="footer qiming-background-secondary">
        <div class="foot qiming-container qiming-padding">
            <div class="qiming-grid" qiming-grid>
                <div class="qiming-width-1-1@s qiming-width-1-3@xl">
                    <div class="foot-item foot-item-first qiming-position-relative qiming-flex">
                        <a href="{U('qiming/index/init')}" target="_blank" class="foot-logo qiming-display-block">
                            <img src="https://static.qiming.cn/style/qiming/images/logo_foot.png">
                        </a>
                        <p class="qiming-text-small">起名网专注科学智能宝宝起名，测名字打分平台，结合传统国学文化的智能起名系统研发和起名学术探索交流，以"只为一个好名字"为宗旨，潜心研发，百次升级，千万级大数据分析，助您轻松起好名。</p>
                    </div>
                </div>
                <div class="qiming-width-2-3 qiming-visible@s">
                    <div class="qiming-grid" qiming-grid>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>快捷导航</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="{U('qiming/index/baobao')}" target="_blank">宝宝起名</a></li>
                                    <li><a href="{U('qiming/index/bazi')}" target="_blank">八字起名</a></li>
                                    <li><a href="{U('qiming/index/zhouyi')}" target="_blank">周易起名</a></li>
                                    <li><a href="{U('qiming/index/kxzd')}" target="_blank">康熙字典</a></li>
                                    <li><a href="{U('qiming/index/gongsi')}" target="_blank">公司起名</a></li>
                                    <li><a href="{U('qiming/index/ceshi')}" target="_blank">姓名测试</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>关于我们</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="#" target="_blank">关于我们</a></li>
                                    <li><a href="#" target="_blank">服务条款</a></li>
                                    <li><a href="#" target="_blank">版权声明</a></li>
                                    <li><a href="#" target="_blank">投诉建议</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qiming-width-1-3">
                            <div class="foot-item">
                                <div class="foot-item-title"><i class="iconfont icon-security"></i>友情链接</div>
                                <ul class="qiming-padding-remove">
                                    <li><a href="https://zidian.qiming.cn/" target="_blank">汉语字典</a></li>
                                    <li><a href="https://cidian.qiming.cn/" target="_blank">汉语词典</a></li>
                                    <li><a href="https://chengyu.qiming.cn/" target="_blank">成语大全</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-cop">
            <div class="qiming-container qiming-padding-small qiming-clearfix">
                <div class="qiming-float-left">
                    <span>&copy; 2005-2025 <a href="https://www.qiming.cn/" title="起名网" target="_blank">www.qiming.cn</a> &amp; All rights reserved</span>
                    <a class="qiming-margin-small-right" href="#" target="_blank"><i class="iconfont icon-map-filling" aria-hidden="true"></i>网站地图</a>
                    <span class="qiming-margin-small-right qiming-gongan"><img src="https://static.qiming.cn/style/qiming/images/qiming-110.png" height="6">皖公网安备34010402704531号</span>
                    <span class="qiming-margin-small-right"><a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer nofollow">皖ICP备2024064902号</a></span>
                </div>
                <div class="qiming-float-right qiming-visible@s">
                    <span><a href="https://www.qiming.cn/" target="_blank">起名网</a></span>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://static.qiming.cn/style/qiming/js/common.js"></script>
</body>
</html>