{inc:header.htm}
        <div class="not-found-404" style="text-align:center;padding:1.5rem 0 2rem;">
            <p style="font-size:1rem;color:#00c853;line-height:1.5;">404</p>
            <p style="font-size:0.3rem;color:#999;margin-bottom:0.5rem;">页面不存在或已被删除</p>
            <a href="{$cfg[weburl]}" class="btn btn-gs" style="display:inline-block;width:3rem;">返回首页</a>
        </div>
{inc:footer.htm}
<script type="text/javascript">
    seajs.use('app/common', function(fn){
        fn.init();
    });
</script>
</div></body></html>
