{inc:header.htm}
        <ul class="url-here">
            <li><a href="{$cfg[weburl]}">首页</a></li>
            <li><h1>热门标签</h1></li>
        </ul>
        <div class="section">
            <div class="section-hd">
                <h3 class="title">热门标签</h3>
            </div>
            <div class="dcatetory hot_game">
                {block:taglist mid="3" limit="50" orderby="count"}{loop:$data[list] $v}
                <a href="{$v[url]}" title="{$v[name]}">{$v[name]}</a>
                {/loop}{/block}
            </div>
        </div>
{inc:footer.htm}
<script type="text/javascript">
    seajs.use('app/common', function(fn){
        fn.init();
    });
</script>
</div></body></html>
